[2019-08-23 07:42] dylanaraps opened #1 "Add ISSUE and PULL_REQUEST templates."

[2019-08-23 11:54] #1 closed

[2019-08-23 16:41] protonesso opened #2 "epiphany"

[2019-08-25 17:55] Jackojc opened #5 "Package request: ripgrep"
Moved from old repo. (https://github.com/kisslinux/repo/issues/17)

[2019-08-25 17:56] Jackojc opened #6 "Package request: fd"
Moved from old repo. (https://github.com/kisslinux/repo/issues/18)

[2019-09-21 10:18] konimex opened #29 "Add a maintainer file for each package"
This isn't that urgent (i.e. enhancement rather than bug) and only useful for meta purposes and should not interfere with the package manager. But I think we can add a `maintainer` file for clarity (who gets to maintain this package? and who should *we*, as in users, contact in case shit hits the fan?)

I know we can check who committed first to the package (i.e. a simple `git log` without options

[2019-09-21 10:25] dylanaraps commented on #29
This is only due to the repository split no?

[2019-09-21 10:26] dylanaraps commented on #29
For example (`berry` added after the split):

[code]

[2019-09-21 10:31] konimex commented on #29
Oh right. I think so. So it won't really affect new packages.

So, what would happen to the old packages, then? If you're fine with leaving it as is then I'm good.

[2019-09-21 10:38] #29 closed

[2019-09-21 12:03] dylanaraps commented on #29
Old packages will be listed under my name until each maintainer pushes
a new commit if and when their packages require a change or have an
update.

On 9/21/19, M. Herdiansyah <notifications@github.com> wrote:

[2019-09-26 04:56] arnolddinkla opened #30 "checksum mismatch"
Checksum mismatch - please update your package

[2019-09-26 04:56] konimex commented on #30
Which package?

[2019-09-26 05:04] dylanaraps commented on #30
Open another issue and include the package name and other information.

[2019-09-26 05:04] #30 closed

[2019-09-26 05:07] dylanaraps opened #31 "links2 out of date"
Ping @electimon

[code]

[2019-09-26 09:51] arnolddinkla opened #32 "Berry package"
Hi guys. Getting a checksum mismatch when trying to build berry package. Please update.

[2019-09-26 09:54] dylanaraps commented on #32
Fixed.

[2019-09-26 09:54] #32 closed

[2019-09-27 18:52] electimon commented on #31
I will fix it today

[2019-09-27 22:19] electimon commented on #31
New pr with new version requested, expect to see it soon

[2019-09-28 03:58] #31 closed

[2019-09-30 06:24] dylanaraps opened #34 "gnutls out of date"
Ping @stefanfransen

[code]

[2019-10-01 06:18] dylanaraps opened #35 "ne out of date"
Ping @sebastianertz

[2019-10-01 09:16] #35 closed

[2019-10-01 18:11] stefanfransen commented on #34
Created a PR at #37. Sorry for the late response, been busy.

[2019-10-01 18:22] dylanaraps commented on #34
All good.

[2019-10-01 18:22] #34 closed

[2019-10-01 20:05] dylanaraps opened #38 "ruby out of date"
Ping @naltun

`2.6.4 -> 2.6.5`

[2019-10-05 07:17] dylanaraps opened #41 "nano out of date"
Ping @sebastianertz

`4.4 -> 4.5`

[2019-10-05 07:41] #41 closed

[2019-10-08 17:41] dylanaraps commented on #38
Ping @naltun

[2019-10-10 12:26] dylanaraps commented on #6
This can be installed through `cargo`.

[2019-10-10 12:26] dylanaraps commented on #5
This can be installed through `cargo`.

[2019-10-10 16:00] Jackojc commented on #5
Isn't the point of a central package manager that you shouldn't have to involve extra tools like this? Surely requiring the user to go through more effort for this is against KISS philosophy.

[2019-10-10 16:49] dylanaraps commented on #5
Nothing stops you as a user from packaging this software in your own repository which can then be shared with other users. A KISS package for this would be a repeat of the `cargo` commands required to install it regardless.

I see it as far less simple to package something already available in its "own" package manager (`cargo`). This involves using `cargo` through an abstraction (`kiss`) and furt

[2019-10-10 16:55] konimex commented on #5
I have to agree with @Jackojc here.

Multiple package managers managing a single installation can lead into a mess. Packages managed by `kiss` can conflict with packages managed by `cargo` (or `pip`, or whatever else). For *user-only* packages (i.e. no `sudo` so only in `$HOME/bin`) or even `/usr/local`, I'd agree. But anything in `/usr` should be managed by one package manager only.

It'd be no d

[2019-10-10 17:23] Jackojc commented on #5
Yeah I think it being in the community repo should be fine. I understand your points @dylanaraps but who is KISS meant to be simple for? the user or maintainer?

[2019-10-10 19:02] dylanaraps commented on #5
I was talking solely about packages installed to `$HOME` and **not** the system. I agree that only `kiss` should be used for system-wide package management of course. I thought I made this obvious(?), I guess not!

I don't think it's so black and white. I desire for KISS to be simple in its implementation, the amount of software used and the software choices made. This further extends to the distr

[2019-10-10 23:24] konimex commented on #5
Since we're talking about `community` here, I think we need to separate it from the main `repo` repo.

Yes, and I think you should limit the scope of reliable base to `repo` (i.e. you don't have to maintain `community` packages at all if you're not the primary maintainer. If repology shows an outdated package, just mention the maintainer, and if one doesn't show up in, say, 30 days, then delete th

[2019-10-15 15:40] tristelune1 opened #50 "zathura pdf reader"
Hello,

I'm trying to package zathura the PDF reader, but I don't manage. I would like to know if there is a fix to my problem. But we don't need to spend a lot of time, because I packaged zathura for another linux distribution and a lot of python modules were needed. If it's still the case, I will use mupdf which I have already packaged. Zathura is built with meson. I get at the end of the log:

[2019-10-15 15:46] dylanaraps commented on #50
NLS/Gettext need to be set to `auto` or just set to `no`.

Edit:

It seems as though Zathura offers no option to disable `gettext` so try this command at the top of the `build` file.

[code]

[2019-10-15 21:29] dylanaraps commented on #38
I have update `ruby` and am now its maintainer.

[2019-10-15 21:29] #38 closed

[2019-10-15 21:30] axpira opened #51 "libpod"
Please,

Add https://github.com/containers/libpod to repo is a replacement without a deamon of docker

Thanks

[2019-10-15 21:30] dylanaraps commented on #2
Emacs has been added.

[2019-10-15 21:32] dylanaraps commented on #51
Distributions seem to package it as `podman`.

Dependencies from void:

[code]

[2019-10-15 22:16] axpira commented on #51
Sorry the title is wrong it's podman.io and not postman.io

[2019-10-23 10:49] tristelune1 commented on #50
You point me in the right direction. I have probably to patch another build file for meson. But now I have another problem. I have to install `libnotify`. But to install it, I need `gobject-introspection`. I have packaged `gobject-introspection`, but after that the build of `libnotify` fails, because it needs some `gir` files for from `gdk-pixbuf`. It means, it would be necessary to build those fi

[2019-10-23 11:09] dylanaraps commented on #50
You're better off omitting both `libnotify` and `gobject-introspection` from Zathura (*which should be possible*).

[2019-10-23 12:05] tristelune1 commented on #50
I use at the moment `mupdf`. I write some pdf documents with `latex` and the problem is `mupdf` doesn't refresh the document when a change is done. I know `zathura` refresh the document. I don't know `libnotify`, I thought `zathura` uses `libnotify` to refresh a document when there are some changes. Am I wrong ? Or can we get the same results by using something else ?

[2019-10-23 23:50] axpira opened #56 "Bluez"
Please add a bluetoothctl command line to enable possibility to connect bluetooth devices

[2019-10-24 00:03] axpira commented on #56
It`s on bluez package.

I tried to compile but I'm getting this error:

[code]

I tried with this:
[code]

[2019-10-24 00:15] konimex commented on #56
Unless `--disable-dbus` can work here I don't think Dylan can add it.

[2019-10-24 06:37] dylanaraps commented on #56
Yeah, `dbus` is mandatory with Bluez sadly. I looked into this a while ago.

[2019-10-24 06:45] tristelune1 opened #57 "Package documentation"
Hi,

what are we supposed to do with the documentation of a package which is found in `usr/share/info`, `usr/share/gtk-doc`, etc. As a maintainer are we supposed to delete it or is it the choice of the user to delete it with the variable `KISS_RM` ?

Until now, I disabled the documentation in the package, but probably sometimes it is build automatically and the only way to get ride of this documen

[2019-10-24 07:34] dylanaraps commented on #57
If the documentation requires no additional software to build, it's better to leave it default and let the user decide with `KISS_RM`. If the software requires additional dependencies to build the documentation, it's better to disable it altogether.

[2019-10-24 11:00] axpira commented on #56
Do you known any other option to use bluetooth?

[2019-10-24 14:19] tristelune1 commented on #57
Thank you :+1: !  Perhaps you should add it to the guidelines, unless I didn't see where it's written. I let you choose and close this question. Thank you! :smile:

[2019-10-26 07:48] tristelune1 commented on #50
Thank you for all your help. The pull request has been created!

[2019-10-26 07:48] #50 closed

[2019-10-29 08:08] Vouivre opened #63 "First try to package cups"
Hello,

I need to use a printer and I created a package for cups. Basically I took [the package from crux here] (https://crux.nu/ports/crux-3.5/opt/cups/Pkgfile).

Unfortunately my printer is not found. Even if I try to install it manually, it doesn't work. I get an error  in cups: `File not found`. I have also created a package for the drivers. My printer is found with `snmp`: [log file](http://p

[2019-10-29 08:32] dylanaraps commented on #63
So it builds and install correctly but then fails to work?

[2019-10-29 08:32] dylanaraps commented on #63
It might be worth looking at how Void, Alpine or Sabotage package `cups` and friends.

[2019-10-29 09:23] tristelune1 commented on #63
Yes, it builds and I can access cups with the browser. It also finds the installed driver. But it fails to print something. I'll try to contact the package maintainer of those distribution.

[2019-10-30 09:00] dylanaraps commented on #56
Sadly, no. Bluetooth on Linux **require** `dbus`. Even embedded devices are forced to run it to achieve working Bluetooth. I'd love it if somebody could prove me wrong here!

[2019-10-30 09:10] dylanaraps opened #64 "Contribution Guide"
Reminder to write a guide or "guidelines" for user contributed packages.

Included information:

- [ ] One package per pull request.
- [ ] `#!/bin/sh -e`.
- [ ] Appending `make` to compile-time dependencies.
- [ ] Four spaces for indentation.
- [ ] Exclusion of unneeded configure flags.
- [ ] Exclusion of documentation if further dependencies needed.
- [ ] `https` for sources.
- [ ] ???

[2019-10-30 09:11] #57 closed

[2019-11-06 23:30] scsijon opened #67 "Add xorriso to repo"
[quote]xorriso copies file objects from POSIX compliant filesystems into Rock Ridge enhanced ISO 9660 filesystems and allows session-wise manipulation of such filesystems. It can load the management information of existing ISO images and it writes the session results to optical media or to filesystem objects.
Vice versa xorriso is able to copy file objects out of ISO 9660 filesystems. [/quote]

I

[2019-11-07 12:00] dylanaraps commented on #67
Transferred. :+1:

[2019-11-11 13:08] E5ten opened #72 "Building qt5 without perl"
For all the Qt5 packages I use, if they required perl to build it was all from the same place, qt5-base has a script findclasslist.pl, and the qmake build for various Qt parts all call that script, so building qt5-base with the following changes will remove the need for perl to build it, or any other Qt5 packages (at least among the ones I use, no guarantees that none of them don't have other perl

[2019-11-13 19:25] tristelune1 opened #74 "wget: error: HTTP/1.1 307 Temporary Redirect"
Hello, I'm trying to download `gimp` to build it. Here is the download link:

[gimp download](https://download.gimp.org/mirror/pub/gimp/v2.10/gimp-2.10.14.tar.bz2)

In a browser it works without problem. When I download `gimp` with `kiss`, I get the error:

[code]

If I understood right, `wget` from `busybox` can't follow a redirection or at least this kind. Is it right ? Do you have a workaround

[2019-11-13 19:57] tristelune1 opened #75 "Packaging gimp"
Hello,

I'm trying to package `gimp`. For the moment I have the problem with the `intltool` dependency. I don't know `intltool`, from what I can see it's use for the translation. If I understand right, if we get ride of `intltool` gimp will be only in english. Right ?

I only know some files in `po` directories or ending with `po` are used for translation. So do I have to get ride of:

- all calls

[2019-11-13 20:38] dylanaraps commented on #74
I followed the redirection using `curl`. You can swap the upstream URL to:

[code]

(At least until the original URL doesn't redirect here).

[2019-11-13 20:38] #74 closed

[2019-11-13 20:40] dylanaraps commented on #75
Does `--disable-nls` fix the issue? I'd need to see exact terminal output from the build to help any further.

[2019-11-13 21:24] tristelune1 commented on #63
Update: I was able to package `cups`. But I have a lot of details to check. Basically:

- `cups-filters` was missing
- I can't add a printer with the web interface. I have to use the command `lpadmin`

I packaged the drivers for my printer, unfortunately, they are bad, as I expected. With all distributions it was the same. So I try to install the driver "Turboprint" for my epson printer, but it's

[2019-11-13 21:38] tristelune1 commented on #75
Configure:

[code]

Output of configure: [terminal output](http://pastebin.fr/59211)

So it doesn't fix the issue.

[2019-11-13 22:25] dylanaraps commented on #75
[code]

This looks to me like broken `nls` (`gettext`, `intltool` etc) detection.

[2019-11-14 07:11] tristelune1 commented on #75
I deleted a lot of lines in `configure` and I was able to get ride of this problem I think. Is it possible, that the problem is here ?

[code]
I'm not sure, but it seems `nls` is not taken into account, the version of `intltool` is checked. I will try to patch it and then to build it.

[2019-11-16 08:19] tristelune1 commented on #75
Packaging for Gimp done! Now I have to check my builds before creatings some pull requests.

[2019-11-16 08:19] #75 closed

[2019-11-16 20:25] dylanaraps commented on #67
Added thanks to #84.

[2019-11-16 20:25] #67 closed

[2019-11-16 23:53] scsijon commented on #67
On 17/11/19 07:25, dylan wrote:

Just a note that xorriso is also known as libisoburn (which contains it)
so I don't know which name it should really be under. ?Do we need the
full package for xorriso or the libisoburn version? Yes confusing I
know, it's just how Thomas Schmitt did it back then, and both names are
relevant. Maybe a note somewhere?

regards

[2019-11-17 00:05] dylanaraps commented on #67
Repology lists it as `xorriso` as it seems to be named this way in all major distributions.

[2019-11-17 05:45] scsijon commented on #67
On 17/11/19 11:05, dylan wrote:

  No worries, I was just mentioning what Thomas had said in his email to
us in T2 a few weeks ago when it was queeried by me. I'm cc'ing him in
case he wants to reply to this list also.

To quote him
-----------------
My apologies for creating this ambiguity. The reason lies back in 2008,
when the first packager preferred the 2-in-1 source tarball, with the
reasoni

[2019-11-17 07:48] #5 closed

[2019-11-17 07:57] #6 closed

[2019-11-20 10:07] Jackojc commented on #56
Should this issue be closed or are you investigating alternatives?

[2019-11-20 10:36] dylanaraps commented on #56
This could be an option for those wanting Bluez without the use of `dbus`: https://github.com/clbr/nobus

Regardless, this acts as an answer to the question of "Is Bluez packaged"?

[2019-11-28 18:46] dylanaraps opened #89 "poppler-glib out of date"
Ping @tristelune1.

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2019-11-29 22:23] tristelune1 commented on #89
Thank you! I'll have a look on sunday.

[2019-12-01 09:22] dylanaraps opened #90 "mutt out of date"
@penguin-ff

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2019-12-01 13:04] tristelune1 commented on #89
[PR #91](https://github.com/kisslinux/community/pull/91) closes this issue.

[2019-12-01 17:54] #90 closed

[2019-12-01 17:55] #89 closed

[2019-12-04 10:58] dylanaraps opened #95 "Qemu out of date"
@jdavies-dev

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2019-12-04 18:24] jdavies-dev commented on #95
I don't think qemu is out of date.  From their front page (https://www.qemu.org/), the latest release is 4.1.1.   There is a 4.2.0 branch, but this is not yet released (still at rc4).

Repology thinks that the latest version of qemu is 4.1.93, which is why it's saying our package is out of date.  However, this is not a real qemu version number - I think it's something invented by OpenSUSE.

Take a

[2019-12-04 21:06] dylanaraps commented on #95
Thanks, I'll forward this to the Repology dev.

[2019-12-04 23:06] dylanaraps commented on #95
Fixed in Repology. Thanks again. :+1:

[2019-12-04 23:06] #95 closed

[2019-12-12 21:03] dylanaraps opened #98 "unifont out of date"
Ping @konimex

[2019-12-12 21:04] dylanaraps opened #99 "xorriso out of date"
Ping @shizonic

[2019-12-13 03:19] konimex commented on #98
Since the tarball is not generated anymore (doesn't exist in the GNU site for some reason), I'll need to use either the `bdf` directly, or use the `ttf` instead.

[2019-12-13 10:00] dylanaraps opened #100 "qemu out of date"
Ping @jdavies-dev

[2019-12-13 11:05] #100 closed

[2019-12-13 12:18] #98 closed

[2019-12-13 13:48] shizonic commented on #99
Pong @dylanaraps ?

[2019-12-13 13:50] dylanaraps commented on #99
Oops, my bad. Apologies for the ping.... :sweat_smile:

Ping @alaughlin. This is your package!

[2019-12-13 13:51] shizonic commented on #99
Nothing to apologize @dylanaraps :)

[2019-12-15 09:31] dylanaraps opened #104 "mutt out of date"
Ping @penguin-ff

https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2019-12-17 09:32] #104 closed

[2019-12-19 10:12] a-schaefers opened #108 "better emacs"
Our Emacs is painful to use right now.

I propose we create typical 3 packages:

emacs-nox
emacs-athena (libXaw3d)
emacs-gtk3

I would be willing to maintain the build files, but I need libraries!!!! I've been trying to build for days without much success. I would especially love to see libXaw3d (it is much more performant than the gtk toolkit!) ,  imagemagick, libxpm, and rsvg (to improve the eww

[2019-12-19 10:14] a-schaefers commented on #108
By the way, if anyone here loves Emacs like I do, here is a kiss package manager front-end I made, just for you.

;; a front-end to getkiss.org package manager

[code]

[2019-12-19 21:38] dylanaraps opened #120 "mutt out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

Ping: @penguin-ff

[2019-12-21 05:40] #120 closed

[2019-12-21 07:35] tristelune1 opened #123 "Gimp: fonts not available"
Hello,

I have created a package for `gimp`, it starts, I can use it, but when I try to add text to a picture, I get the following:

     Due to lack of any fonts, text functionality is not available.

On my system I have: `dejavu`, `liberation`. As I have seen, I need to run `fc-cache` such that the fonts will be found. The must be available in `/var/cache/fontconfig`. There, I have the following

[2019-12-22 05:29] a-schaefers opened #124 "liberation mono required by st is not in the dependency file"
The build for st, in the Xorg repo requires Liberation Mono, while not listing the font as a dependency. I propose we add liberation mono to the dep list and move liberation mono in to Xorg. OR move st into community.

[2019-12-22 05:59] a-schaefers commented on #124
closed my mistake, I was wrong about this

[2019-12-22 05:59] #124 closed

[2019-12-22 14:40] a-schaefers commented on #108
i got this under control

[2019-12-22 14:40] #108 closed

[2019-12-23 08:16] a-schaefers commented on #2
i might be wrong, but I believe epiphany uses webkit-gtk and thusly requires dbus. One workaround you guys might consider is installing crud like web browsers using nixpkgs. Install nixpkgs, then nix-env -i chromium (or whatever) and be done with it

[2019-12-25 01:21] a-schaefers opened #144 "librsvg"
for #108 this is the one that I just can't get to compile without gettext or textinfo or whatever it is, if there are any wizards who could take a crack at it, I'd appreciate. Thanks

[2019-12-25 08:52] dylanaraps commented on #144
You can use libsvg which is the older version written in C. It is being kept around and maintained for minimal/embedded systems and is 1:1 ABI compatible wit librsvg.

[2019-12-25 08:58] a-schaefers commented on #144
ooh goodies

[2019-12-25 10:28] a-schaefers commented on #144
I can't get emacs or libmagick6 to link against "libsvg" if you mean this one: https://www.cairographics.org/snapshots/libsvg-0.1.4.tar.gz which is looks to be old from 2005

[2019-12-26 10:23] dylanaraps commented on #99
Ping @alaughlin

[2019-12-26 12:41] alaughlin commented on #99
Hey sorry I’ve been offline for a while but I’ll get on this!

On Thu, Dec 26, 2019 at 05:23 dylan <notifications@github.com> wrote:

[2019-12-29 14:10] dylanaraps opened #152 "poppler-glib out of date"
Ping @tristelune1

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2019-12-29 22:06] Vouivre opened #153 "New package AzPainter: testing needed"
Hello,

because I have some problems with Gimp and for the moment there is no solution, I'm testing the software AzPainter. With AzPainter I'm experiencing some lags, when I click on a menu, sometimes the software needs 1-2 seconds to react. Could somebody install it and confirm the problem ?
More details [in this issue](https://github.com/Symbian9/azpainter/issues/75).

Files needed:

- build:

[

[2019-12-29 22:39] tristelune1 commented on #152
Done: [PR](https://github.com/kisslinux/community/pull/154).

By the way, how do you know when a software is updated ? I tried to write a script, but it seems there is something easier!

[2019-12-30 12:17] dylanaraps commented on #152
I manually check Repology once a day though you could also easily script this through their API/scraping the web pages.

[2019-12-30 12:17] #152 closed

[2019-12-30 17:05] Vouivre opened #158 "Drawing: software with python dependencies"
Hello,

Because of the problem I have with `gimp` I discovered the software `drawing`. I have created a package with the help of the developper. [Here is the issue](https://github.com/maoschanz/drawing/issues/153) I opened to package it.

To use the software, python modules are needed. I can install the software on my computer without a problem. My question: how to package the python modules ?

-

[2019-12-31 02:06] dylanaraps opened #159 "esetroot version out of date (or incorrect)"
Repology states that the latest is `20030422` and our package uses `2003422`.

@a-schaefers

[2019-12-31 08:29] a-schaefers commented on #159
fixed 5f8e1e7

[2019-12-31 08:41] tristelune1 commented on #152
Thank you!

[2019-12-31 13:03] #159 closed

[2019-12-31 13:06] dylanaraps commented on #144
Either we use the outdated (and most likely insecure) C version or we go with Rust. :(

I'll work on fixing the rust builds.

[2019-12-31 13:25] dylanaraps commented on #144
`librsvg` is gross huh.

I can reproduce the issue you describe.

[2019-12-31 13:40] a-schaefers commented on #144
indeed. I really need it too, because i use Emacs eww browser as my primary browser, and the damn browser breaks whenever i hit a page with svg. lol

[2019-12-31 13:48] dylanaraps commented on #144
It has a long dependency list of GNOME libraries which are all mandatory. As well as mandatory Gettext etc. It's also written in Rust which complicates things.

I'll work on it.

Does Emacs' eww browser support any alternative SVG libraries by any chance?

[2019-12-31 13:58] a-schaefers commented on #144
ill ask on #emacs irc but not that i know of

[2019-12-31 14:32] dylanaraps commented on #144
Here's the last(?) C release of `librsvg`. It's out of date and no longer receiving updates/development but it should work regardless. It also has some security issues which we can probably patch, I just need to track down a CVE list from this time.

https://salsa.debian.org/gnome-team/librsvg-c

[2019-12-31 14:33] dylanaraps commented on #144
Actually, here's the tarball link: https://ftp.gnome.org/pub/GNOME/sources/librsvg/2.40/librsvg-2.40.20.tar.xz

[2019-12-31 19:32] dylanaraps opened #172 "patch out of date"
Ping @a-schaefers

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2019-12-31 22:59] a-schaefers commented on #172
#173

[2019-12-31 23:50] a-schaefers commented on #144
Nice sleuthing.

Currently fails to build complaining "checking for gobject-introspection... configure: error: gobject-introspection-1.0 is not installed"
Quick google search turns up it probably wants this pkg https://www.archlinux.org/packages/extra/x86_64/gobject-introspection-runtime/files/ which looks to me like a dbus dependency. I tried searching for a configure flag to turn this off. Any i

[2020-01-01 07:22] a-schaefers commented on #144
For my purposes I am satisfied disabling svg's inside Emacs, to avoid running into svg bugs, atleast. Unless you're very motivated or an svg enthusiast I think we could just close this! (until someone comes along with a real need for it, it's convenient to drop. IMO)

[2020-01-01 09:51] dylanaraps commented on #144
I'm happy to drop it too. :+1:

[2020-01-01 09:51] #144 closed

[2020-01-01 09:52] #172 closed

[2020-01-01 15:38] dylanaraps opened #183 "emacs out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

@a-schaefers

[2020-01-02 02:38] a-schaefers commented on #183
Everybody is still on 26.3 https://repology.org/project/emacs/versions

The 27 versions are snapshots of the development tree and beta

[2020-01-02 07:46] dylanaraps commented on #183
Thanks.

Notified Repology. https://github.com/repology/repology-rules/issues/319

[2020-01-02 07:46] #183 closed

[2020-01-02 09:09] tristelune1 commented on #123
I got no clues on a forum, I have tried on another one with more details:

[Thread in gimp-forum.net](https://www.gimp-forum.net/Thread-Fonts-not-available-in-text-Tool)

If I can't get any help there, I'll try to write a bug report, although I don't think it's a bug. But unfortunately I see no other solution.

[2020-01-02 23:00] tristelune1 commented on #123
I have tried to packaged `intltool`, `gettext` and `glib-networking`. Unfortunately it's not better. I'll wait a little bit and probably report a bug. More in the thread of the forum.

[2020-01-03 06:35] dylanaraps opened #188 "gnugrep out of date"
Grep out of date. Ping @a-schaefers

https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-01-04 21:54] #188 closed

[2020-01-04 21:54] dylanaraps commented on #99
Pushed the update myself. :+1:

[2020-01-04 21:54] #99 closed

[2020-01-05 01:45] a-schaefers opened #192 "bug: gawk causes libgpg-error fail to build"
workaround: kiss r gawk && kiss b libgpg-error && kiss i gawk

report upstream: https://dev.gnupg.org/T4459

Apparently there are patches to gawk to fix this, if anyone wants to help

[2020-01-05 08:17] dylanaraps commented on #192
What's the `libgpg-error` error?

[2020-01-05 08:21] dylanaraps commented on #192
Ah. It's an incompatibility with the `awk` scripts.

[2020-01-05 08:22] dylanaraps commented on #192
Try adding this to the top of the `build` file (before `./configure`).

[code]

[2020-01-06 06:51] dylanaraps opened #195 "socat out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

Ping @aaronNGi

[2020-01-06 11:48] aaronNGi commented on #195
Pull request for the latest version is out.

[2020-01-06 11:49] #195 closed

[2020-01-06 11:49] dylanaraps commented on #195
Thanks :+1:

[2020-01-07 10:50] dylanaraps opened #201 "girara out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

@tristelune1

[2020-01-07 10:51] dylanaraps opened #202 "zathura out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

@tristelune1

[2020-01-09 07:52] #201 closed

[2020-01-09 07:52] #202 closed

[2020-01-09 07:52] dylanaraps commented on #192
@a-schaefers Does the above `sed` fix the issue?

[2020-01-09 09:00] a-schaefers commented on #192
No

[code]

[2020-01-09 09:20] #192 closed

[2020-01-09 20:39] tristelune1 commented on #123
This problem has been reported on Gitlab:

[issue 4478](https://gitlab.gnome.org/GNOME/gimp/issues/4478)

If somebody is more experienced, I will probably need the help. I can provide the local packages I have.

[2020-01-11 10:13] cemkeylan opened #212 "WebKitGTK"
I am trying to achieve a very minimal build of webkit. I will be adding it to this repository after it is finished. It's on [Carbs Testing repository](https://github.com/CarbsLinux/repository/tree/master/testing) right now. The build is failing at the moment, and I have still things I want to get rid of on the build. I would be glad if anyone would be interested on testing the build of WebKitGTK.

[2020-01-12 07:36] dylanaraps opened #214 "spotifyd out of date"
Ping @alaughlin

https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-01-13 22:34] tristelune1 commented on #123
That was a long research....., I don't know why I didn't look at this:

[Fedora, no fonts available](https://bugzilla.redhat.com/show_bug.cgi?id=1744377)

The patch is here:

[patch for fontconfig](https://src.fedoraproject.org/rpms/fontconfig/blob/master/f/fontconfig-fix-1744377.patch)

I have added the patch locally to `fontconfig` and I can use the text tool in `gimp`. :smiley:.

@dylanaraps :

[2020-01-13 22:44] dylanaraps commented on #123
Done. Patch added and pushed.

Great work tracking down the issue. :+1:

[2020-01-13 23:18] #123 closed

[2020-01-14 19:50] dylanaraps opened #219 "mutt out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

@penguin-ff

[2020-01-14 19:56] a-schaefers commented on #212
This would allow us to use surf browser. I like that. But isn't webkit-gtk supposed to be a security nightmare?

[2020-01-14 20:02] dylanaraps commented on #212
It's in active development: https://webkitgtk.org/2020/01/10/webkitgtk2.27.4-released.html

It also publishes security advisories: https://webkitgtk.org/security/WSA-2019-0006.html

[2020-01-15 08:20] cemkeylan commented on #212
I don't think WebKit is really different from other web engines regarding security. Every web engine is a security nightmare, something gets fixed, another thing gets broken.

Yeah, I was trying to install surf as well. I have a really great surf build that I really miss using.

[2020-01-15 08:22] cemkeylan commented on #212
This is my latest error

[code]

[2020-01-15 09:01] dylanaraps commented on #212
@cemkeylan See: https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=cd3384b4b67262108374e57cde3aee9dfe1203b3

Looks like non-webgl builds are unsupported. There's a patch in that link. :+1:

[2020-01-15 09:41] cemkeylan commented on #212
Thanks a lot, I was just looking at that line but was not sure if I should delete it or not. I am rebuilding now.

[2020-01-15 12:06] dylanaraps opened #223 "nnn out of date"
See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

@lieuxnoir

[2020-01-15 13:49] #223 closed

[2020-01-15 16:39] cemkeylan commented on #212
Finally! I am back to surf. I will be cleaning stuff up and open a PR when they are all ready.

[2020-01-15 17:13] dylanaraps commented on #212
Wonderful! I can't wait.

[2020-01-15 17:45] cemkeylan commented on #212
So, before i do that, I must mention that harfbuzz needs to be built with ICU support, freetype-harfbuzz on KISS repositories are not built with ICU support. It can be a good idea to add ICU to the official repository, and change the build in that way.

[2020-01-15 19:15] a-schaefers commented on #212
I too am excited for this one. Thanks @cemkeylan !!

[2020-01-15 19:19] dylanaraps commented on #212
I'm not very happy with the inclusion of ICU into the core repositories. The same goes with the requirement to modify Harfbuzz to link to it as this adds a dependency for all KISS users.

I see in your package that it also requires `gettext`, can this not be disabled or patched out?

I'll do some digging myself in relation to these two issues and see if I can come up with anything.

[2020-01-15 20:07] dylanaraps commented on #212
I have solved the ICU issue, the requirement of modifying the Harfbuzz package and the forced dependency on ICU for all KISS users.

I will upload my solution shortly.

[2020-01-15 20:36] cemkeylan commented on #212
That's great. I tried to remove the harfbuzz and gettexy dependency but couldn't. I really don't want to add gettext or ICU either. We probably shouldn't add the packages until we find a solution to gettext either.

[2020-01-16 03:01] a-schaefers commented on #212
Good work fellas. Writing this from surf right now (testing)

[2020-01-16 06:17] cemkeylan commented on #212
Yeah, well my version just built WebKit. Props go to Dylan for surviving the dependency hell. Since the packages are on the official repository, I will be closing this issue and stealing Dylan's hard work to my own repository ( I am so sorry. )

[2020-01-16 06:17] #212 closed

[2020-01-17 18:35] #219 closed

[2020-01-18 01:47] a-schaefers commented on #2
hey this should be doable now that we have webkit2gtk

[2020-01-18 08:34] dylanaraps commented on #2
It might be tricky:

https://github.com/GNOME/epiphany#gnome-integration

[2020-01-19 07:54] dylanaraps opened #235 "mc out of date"
@penguin-ff

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-01-19 07:54] dylanaraps opened #236 "libxkbcommon out of date"
@alaughlin

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-01-20 17:44] #236 closed

[2020-01-22 09:04] dylanaraps opened #250 "pinetree-dmenu version incorrect(?)"
@cemkeylan

https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-01-22 09:05] dylanaraps opened #251 "oil-shell out of date"
@jedahan

See: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-01-22 09:22] cemkeylan commented on #250
Since this is my own implementation, I versioned it accordingly. AFAIK there are three more implementations of pinentry-dmenu. I am familiar with two. One of them is just a basic script, the latter requires unnecessary dependencies and is error-prone.
 I could rename the implementation if it would be better.

[2020-01-22 09:48] dylanaraps commented on #250
I'll contact the repology guy and see what we can do.

[2020-01-22 15:47] jedahan commented on #251
Is there a way for repology to email when something goes out of date?

[2020-01-22 15:50] dylanaraps commented on #251
I'll see if repology can add maintainer support for the KISS repositories which means you'd get a page similar to this: https://repology.org/maintainer/0x9fff00%40aur

[2020-01-22 16:02] dylanaraps commented on #251
https://github.com/repology/repology-updater/issues/992

[2020-01-22 16:30] #251 closed

[2020-01-22 20:40] dylanaraps commented on #251
Repology has added support displaying and tracking KISS package maintainers. When the website next updates you will have a page dedicated to the packages you maintain, displaying versions, etc.

There are also feeds you can subscribe to which allow you to be notified of outdated packages.

[2020-01-22 21:42] jedahan commented on #251
awesome, thank you! would be nice to be in the top 10 especially once we hit >1000 packages :)

[2020-01-23 00:22] dylanaraps opened #255 "pkcs11-helper out of date"
https://repology.org/projects/?inrepo=kiss_community&outdated=1

@a-schaefers

[2020-01-23 00:34] dylanaraps opened #256 "sic-git fix source"
@cemkeylan

From now on, all `git` packages should avoid `git://` and stick to the `http://`/``https://`` protocols. :+1:

(`sic-git` just needs a slight fix. `git+git://` -> `git+https://`)

[2020-01-23 02:21] AbsolutelyLudicrous opened #257 "pinentry: fix prefix to be /usr"
pinentry's `build` file does not set --prefix, and so installs by default to /usr/local

pinentry should install to /usr like most other packages

[2020-01-23 07:25] #250 closed

[2020-01-23 07:30] #255 closed

[2020-01-23 07:30] #257 closed

[2020-01-23 08:44] #256 closed

[2020-01-24 16:08] dylanaraps opened #265 "Subscribe to your maintainer feed!"
Repology has added support for tracking each maintainer of each KISS package. This allows you to subscribe to a feed and be notified of when your packages need updating.

Steps:

- Go to: https://repology.org/maintainers/
- Find your profile via your set Git email.
- Subscribe via HTML or RSS.

[2020-01-24 17:58] dylanaraps commented on #235
See: https://github.com/kisslinux/community/issues/265

[2020-01-24 17:58] #235 closed

[2020-01-24 17:58] dylanaraps commented on #214
See: https://github.com/kisslinux/community/issues/265

[2020-01-24 17:58] #214 closed

[2020-01-26 17:31] #64 closed

[2020-01-29 10:29] a-schaefers opened #273 "sinit: dependency on ubase requires kiss alternatives intervention"
Currently sinit requires respawn (currently of the ubase package) to keep your getty alive (busybox init uses inittab to accomplish this).

While we were at it, [building the sinit package], to kill two birds with one stone, the included sinit scripts also default to using ubase-box getty. I consider this a nice touch.

The problem is that this was all devised before the new alternatives system be

[2020-01-29 10:35] dylanaraps commented on #273
1. I'd bundle `respawn` with `sinit` so that `sinit` works regardless of which `coreutils` is installed. It doesn't matter if this conflicts with `ubase` as the alternatives system will cover this. This should prevent breakage with the new `ubase-box` install method.

2.  Include a message in the `post-install` script explaining the need for manual intervention. I will also write a news post on th

[2020-01-29 18:24] cemkeylan commented on #273
Busybox comes as the default, and ubase does conflict with a lot of tools. I think the getty should be added for busybox by default. We could also add a commented getty for ubase on the init scripts.

So instead of trying to detect which getty is installed on the boot scripts, we could just leave it to the user.

[code]

I am currently informing the user that sinit uses busybox getty by default, a

[2020-01-29 18:31] dylanaraps commented on #273
I like this solution. :+1:

[2020-01-30 09:30] a-schaefers commented on #273
I'd like us to consider this idea https://github.com/kisslinux/community/pull/276#issuecomment-580157966

[2020-02-02 08:44] a-schaefers opened #296 "package request: pciutils"
I started doing it, but after thinking about it I'm just guessing and have no idea how it should be really done on this one. I'd appreciate it if someone could package this up for community. It's really a helpful package. I'll be happy to maintain it. Thanks.

https://github.com/kisslinux/community/pull/290

[2020-02-02 10:00] #296 closed

[2020-02-04 08:54] Vouivre opened #307 "Split packages for poppler"
Hello,

I'm the maintainer of `poppler-glib`. I need it for the pdf viewer `zathura`. I also need some utilities for manipulating pdf files from `poppler`, like `pdfseparate` to extract some pages of a pdf document.

I had a look in other distribution to see how it's packaged. Basically, I see two possibilities:
1. `poppler-glib`, `poppler`, `poppler-utils`, like in Alpine
2. `poppler-glib`, `popp

[2020-02-04 08:58] dylanaraps commented on #307
I think a single package called `poppler` is best (if this is possible).

[2020-02-04 12:22] #265 closed

[2020-02-04 12:23] dylanaraps commented on #265
Closing this and keeping it pinned to the top.

[2020-02-04 13:44] Vouivre commented on #307
Ok, I'll try locally.

[2020-02-04 22:44] Vouivre commented on #307
Tested and it works!

So we can remove `poppler-glib` and I have to remove the dependency in `zathura-pdf-poppler` and replace `poppler-glib` with `poppler`.

What's the best to do the transition for the users ?

I can imagine the following:

- delete the package `poppler-glib`
- adapt the dependencies of `zathura-pdf-poppler`
- add the package `poppler`

Do you have another proposal or is it ok f

[2020-02-04 22:48] dylanaraps commented on #307
Sounds good to me. :)

[2020-02-06 16:09] Vouivre commented on #307
Pull Request created. When it's merged, I let you close this issue.

[2020-02-06 16:11] #307 closed

[2020-02-06 23:54] #273 closed

[2020-02-08 14:04] dylanaraps commented on #192
This should be fixed in latest `libgpg-error`. Should be fine to update gawk now(?)

[2020-02-08 16:41] Vouivre commented on #63
It's time to finish the packaging. In between I discovered other projects:

- [lprng](http://www.lprng.com/), but I'm a little bit skeptical. The last update is was in 2015. If I remember right, the team of Debian made some changes, but I'm afraid it's not reliable. Or there will be some problems in the future.
- it seems possible to print with `netcat`, but I don't know how and not sure it's as e

[2020-02-08 16:58] dylanaraps commented on #63
lprng saw changes mid 2019 according to this link: https://sourceforge.net/p/lprng/lprng/ci/master/tree/ might not be as dead as we think!

Command-line only is fine. :+1:

[2020-02-09 06:05] a-schaefers commented on #192
Yup. #318 I am happy with the way we solved this issue, by the way. It was stable and efficient.

[2020-02-09 17:19] Vouivre commented on #63
Ok, I'll have a look at it. I have created a package, now I will have a look at how to install `lprng` and use it. It seems more lightweight than `cups`. But I have no idea about which configuration files to use or if somes services are needed. I'll dig it this week.

[2020-02-09 21:00] dylanaraps opened #320 "netsurf missing make dep on gperf"
@a-schaefers

[2020-02-09 21:12] dylanaraps commented on #320
While you're at it, might want to symlink it to `netsurf` as well (it's `netsurf-gtk3` currently).

[2020-02-12 06:43] #320 closed

[2020-02-12 13:51] cemkeylan opened #332 "Runit: packaging new init-supervisor system"
It is me, yet again. Dropping the busybox dependency one package at a time.

Jokes aside, I am packaging runit and runit-init. I will be pushing the WIP package in a moment and require reviews and testing.

[2020-02-12 13:55] konimex commented on #332
Since I'm also planning to do this, what are you planning for `/etc/runit/1` and `3`? Personally I would symlink them to `baseinit`.

[2020-02-12 14:00] cemkeylan commented on #332
@konimex Yup, I did that and tested it. Works good.

[2020-02-13 02:35] a-schaefers opened #338 "tcl symlink in /bin => File is a symlink to a nonexistent target"
lrwxrwxrwx  1 root root        8 Feb 12 02:57  tclsh -> tclsh?.?

File is a symlink to a nonexistent target

Why is this, @dylanaraps ?

Thank you.

[2020-02-13 02:36] a-schaefers commented on #332
Just leave gnu shepherd for me to package, KTHX :rofl:

[2020-02-13 07:41] dylanaraps commented on #338
The glob didn't match.

[2020-02-13 07:41] #338 closed

[2020-02-13 07:43] cemkeylan commented on #332
@a-schaefers I can leave systemd for you to package :stuck_out_tongue:

[2020-02-13 08:32] #332 closed

[2020-02-13 10:08] a-schaefers opened #351 "runit: manage gettys as services"
Hi,

First and foremost, **great work @cemkeylan** for packaging runit. This issue would not be possible without all of your hard work.

I have some ideas for further development. Please let me know what you think?

1. I would like to see service files included with runit for "agetty" and "getty" (busybox)

2. Remove the while loop from /etc/runit/2

3. Add a post-install message telling the user

[2020-02-13 12:18] cemkeylan commented on #351
I mean, it is pretty much the same for sinit and busybox-init, we are still running runit as the system supervisor. What is the reasoning for adding getty as a system service just for runit-init?

[2020-02-13 12:20] cemkeylan commented on #351
It is much simpler in my opinion to have a for-loop, or an inittab entry than to manage runit services for each getty we are using. The user has to have 6 different services just for running 6 gettys

[2020-02-13 12:26] a-schaefers commented on #351
I see where you are coming from as well. 3 lines to be replaced by a handful of directories each with 2 or three files and a symlink does not appear very simple.

However, as runit combines init with service supervision it still seems ibkt natural to me to include getty as a service of runit, the way void does. It may be thought of as simpler, in this way, too depending on how one looks at it.

Al

[2020-02-13 13:12] dylanaraps commented on #351
I like the `rc.d` approach better too. It leaves room for me to write a portable "interface" to the gettys so one doesn't have to worry about commenting/uncommenting lines etc.

[2020-02-13 13:16] cemkeylan commented on #351
Yeah, I would even suggest launching getty on `rc.d/getty.boot` with baseinit by default and remove the getty from `2` and `inittab`. This way we don't have to worry about getty on any of the inits.

On 13 February 2020 16:12:47 GMT+03:00, dylan <notifications@github.com> wrote:

--
Cem Keylan

[2020-02-13 13:23] a-schaefers commented on #351
The more I think about it, I now believe @cemkeylan has it right. Since we are not using busybox runit to manage getty, why would we use runit runit to manage getty? Unless we want to change both to be managed as services, things should remain as they are.

I also like @cemkeylan's idea re: being done with inittab and using rc.d/getty.boot with baseinit by default.

[2020-02-13 13:24] a-schaefers commented on #351
Closing this, feel free to comment, though, if anyone else thinks this should be revisited.

[2020-02-13 13:24] #351 closed

[2020-02-13 16:36] artemkobets opened #362 "ubase stat not compatible with package manager"
ubase package includes its own version of /usr/bin/stat as a valid alternative. kiss package manager uses stat -c flag, which isn't supported by ubase stat.

Either stat could be removed from ubase package, or kiss updated to not use this flag.

[2020-02-13 16:40] #362 closed

[2020-02-14 10:28] dylanaraps opened #374 "Packages I will no longer maintain. Looking for maintainers."
These will be dropped from the repository in a week's time. These are packages I picked up after the maintainer disappeared or packages which I would no longer like to maintain.

Regardless, I have too much on my plate in Community. Ideally I'd participate in Community like any other user when maintaining packages. Don't rely on me to pick up any orphans.

Please comment below if you'd like to tak

[2020-02-14 10:33] konimex commented on #374
I'll take the following:
- `bspwm`
- `cryptsetup`
- `dmenu`
- `go`
- `gnutls`
- `imlib2`
- `lemonbar`
- `libarchive`
- `lvm2`
- `os-prober`
- `rxvt-unicode`
- `sxhkd`
- `tmux`
- `weechat`

As for `nettle`, isn't that packaged for a dependency?

[2020-02-14 10:38] a-schaefers commented on #374
I will take
[code]

[2020-02-14 10:38] a-schaefers commented on #374
And `libgcrypt`

[2020-02-14 10:46] dzove855 commented on #374
I go for:

`conky
lynx
`
Will have a look tonight about the rest what is not taken.

[2020-02-14 12:36] cemkeylan commented on #374
Ugh... Can I order some bloatkit2gtk dependencies please?

`libsoup libxslt libpsl glib-networking`

Also to the side, I will be ordering some `sbase ubase sxiv`

[2020-02-14 12:52] aaronNGi commented on #374
I'll take `terminus-font` and `bdftopcf`.

[2020-02-14 12:56] dylanaraps commented on #374
@cemkeylan You'll need `ruby` for `webkit2gtk` as well.

[2020-02-14 13:05] dylanaraps commented on #374
NOTE: The simplest way to "trick" `git` into updating maintainer status is to append a space to the end of the version file. Not ideal, but the simplest way of doing this.

[2020-02-14 13:33] dylanaraps opened #379 "tor is out of date."
- 15 days out of date so far.
- Will be orphaned if no response.

@IslandAlpha

[2020-02-14 13:33] dylanaraps opened #380 "gdb out of date"
- Out of date for 6 days(?).

@icyphox

[2020-02-14 15:02] #380 closed

[2020-02-14 15:04] zachhweed commented on #374
I'll take `nmap`

[2020-02-14 20:09] ioraff commented on #374
I'll take `neovim`

[2020-02-15 12:40] periish commented on #374
I'll take nano and NSS.

[2020-02-15 16:06] dilyn-corner commented on #374
I could take Falkon + deps if nobody else is willing.

[2020-02-15 20:34] cemkeylan commented on #374
@dylanaraps I didn't see your note about ruby, sure I'll gladly take that as well.

[2020-02-15 20:35] cemkeylan opened #395 "pciutils: lspci gives an error 'loading shared library'"
Hey @a-schaefers  I am having issues with pciutils that I couldn't understand.

This is the output of `lspci`
[code]

However, this does not happen when you are on the `/` or `/usr` directories.
It seems as if lspci looks for the libraries from the relative path. I mean, I had
used pciutils for a really long time and I never had such an issue. Can you take a
look at it?

[2020-02-15 20:42] dylanaraps commented on #395
Fixed build file:

[code]

[2020-02-15 22:52] ioraff commented on #374
@konimex `popt` is only required for cryptsetup. I'll take it if you won't.

[2020-02-15 22:54] konimex commented on #374
I totally forgot about cryptsetup's deps (thought it was just lvm2). If you want to, sure.

[2020-02-15 22:59] ioraff commented on #374
will do.

[2020-02-15 23:27] periish commented on #51
Might package this, have got gpgme and libseccomp packaged and building.

[2020-02-15 23:30] dylanaraps commented on #51
It's a bit much for community. I wouldn't like anything to do with `btrfs-progs` either.

[2020-02-15 23:38] dylanaraps commented on #2
Closing this as I'd rather not deal with GNOME incompatibilities due to above or the inclusion of a bunch of crap with which more crap will come to depend on.

[2020-02-15 23:38] #2 closed

[2020-02-15 23:38] dylanaraps commented on #51
I don't want to see this in Community.

[2020-02-15 23:38] #51 closed

[2020-02-15 23:39] dylanaraps commented on #56
Closing this as it won't ever be packaged. Users needing bluetooth can package both `dbus` and `bluez` themselves.

[2020-02-15 23:39] #56 closed

[2020-02-15 23:41] dylanaraps commented on #72
Closing this but I'll keep it in mind if I get anal about perl.

[2020-02-15 23:41] #72 closed

[2020-02-15 23:49] dylanaraps commented on #153
It works perfectly for me.

Used this to build:

[code]

[2020-02-16 08:33] dylanaraps commented on #379
Would anyone like to maintain this package?

[2020-02-16 12:53] #395 closed

[2020-02-16 18:32] sirtomato999 commented on #374
ill take i3 and setroot

[2020-02-16 21:58] cemkeylan opened #409 "MPD: adding a bunch of packages"
Okay, so I am adding mpd (music player daemon) along with some other things. This is a meta issue.

- [X] boost ( dependency for mpd )  #410
- [ ] mpd  #411
- [ ] mpc ( C client for mpd )  #413
- [ ] libmpdclient ( Dependency for mpd clients )  #412
- [ ] vimpc ( An mpd client with vi-like controls )  #414

**NOTE:** I didn't add any audio libraries as depends as mpd still builds without any of th

[2020-02-17 01:41] kiedtl commented on #374
I will take `fd` and `ripgrep`.

[2020-02-17 03:59] electimon commented on #374
I can take MC

[2020-02-17 04:28] a-schaefers opened #415 "More packages up for adoption: (I will no longer be maintaining these...)"
compton
~~libxdg-basedir (required by compton & picom)~~ `konimex`
~~libconfig (required by compton & picom)~~ `konimex`

~~netsurf~~ `IslandAlpha`
~~perl-html-parser (req. by netsurf)~~ `IslandAlpha`
~~perl-html-tagset (req. by netsurf)~~ `IslandAlpha`

esetroot

keychain

[2020-02-17 04:55] konimex commented on #415
I'll take both `libxdg-basedir` and `libconfig`.

[2020-02-17 09:44] a-schaefers opened #417 "test"
test

[2020-02-17 09:46] a-schaefers commented on #417
sorry

[2020-02-17 09:46] #417 closed

[2020-02-17 18:19] #409 closed

[2020-02-17 20:28] dylanaraps commented on #374
@sirtomato999 Heads up, i3 had an update.

[2020-02-17 22:02] IslandAlpha commented on #379
Sorry for the delay, I switched off of KISS as my daily driver since it doesn't meet all my needs as of now.

Do you mind if I stay as the maintainer for this package?

[2020-02-17 22:03] IslandAlpha commented on #379
Tor will be updated by the end of the day

[2020-02-17 22:03] dylanaraps commented on #379
Sure thing. You should be able to update the package via a chroot of KISS. Just unpack the install archive (as root) and chroot into it. :+1:

[2020-02-17 22:33] #379 closed

[2020-02-19 10:42] dylanaraps commented on #374
Heads up, someone must take `pcre` as a lot depends on it.

[2020-02-20 22:26] aaronNGi opened #440 "man-pages-5.05: fails to build as normal user"
@artemkobets

This fails to build as normal user because the default target `all` includes `remove`, which touches the rootfs (`rm -f`). We want to avoid building packages as root in kiss. Instead of just `make
` the build file could be changed to use `make install` instead.

Log:

    for i in man?/*; do \
    	rm -f /usr/share/man/"$i" /usr/share/man/"$i".*; \
    done
    for i in man?; do \

[2020-02-20 22:30] dylanaraps commented on #440
@artemkobets (Did you not test the build before submitting a PR?)

[2020-02-20 22:43] dylanaraps commented on #374
@dilyn-corner No one else wants Falkon, qt5 and friends. They're yours if you like.

[2020-02-21 00:35] dylanaraps commented on #440
Closing this, see my above comment. Packages have been dropped and can be submitted again.

[2020-02-21 00:35] #440 closed

[2020-02-21 13:11] a-schaefers opened #444 "ed: out of date"
@a-schaefers

[2020-02-21 13:16] #444 closed

[2020-02-21 13:17] dylanaraps commented on #374
@dilyn-corner One last bump before I remove them from the repositories. (The 7 days is up). :+1:

[2020-02-21 13:40] dilyn-corner commented on #374
I'll whisk them away to the safety of my care 

Feb 21, 2020, 8:17 AM by notifications@github.com:

[2020-02-21 13:49] dylanaraps commented on #374
Sold.

[2020-02-21 13:49] #374 closed

[2020-02-21 16:39] artemkobets commented on #440
Thanks @aaronNGi!
Sorry for this one, should have paid more attention to the build output.
I'll resubmit the packages shortly.

[2020-02-22 14:44] IslandAlpha commented on #415
I'll take netsurf and its deps

[2020-02-24 18:00] dylanaraps commented on #153
Any updates on this? It works fine on my machine. Can you still reproduce?

[2020-02-24 18:01] dylanaraps commented on #63
Any updates on this? How's it going?

[2020-02-25 10:23] #415 closed

[2020-02-25 12:39] dylanaraps opened #463 "zsh out of date"
This has been out of date for a while now. I shouldn't have to open these issues. The waiting period is over as for as I see it.

@dithpri

[2020-02-25 13:32] Vouivre commented on #153
Hello, sorry for the delay. No, it still doesn't work. I will probably switch my wm from `windowchef` to `sowm` and I will give you an update. But I don't expect it will be better. I have tried with your `build`.

[2020-02-25 14:05] Vouivre commented on #63
Sorry, I had no time to test. I will try to package `lprng` tomorrow. But I'm not sure it's worth trying it. My goal was to have a lightweight version of `cups`. I have already tried to get rid of 'unnecessary' files from `cups` and it's possible to reduce the size of cups a lot. More tomorrow.

[2020-02-25 18:48] dylanaraps commented on #158
These are probably best kept to your own repository. I'd really like to not see Community bloat up with an endless series of python- packages. The same goes for other software of the same nature.

Not everything needs to be a part of Community and I'd like to keep it somewhat focused. :+1:

[2020-02-25 18:48] #158 closed

[2020-02-26 01:16] a-schaefers opened #467 "nawk: "We don't do releases.""
This has recently come to my attention -- https://github.com/onetrueawk/awk/issues/74

It is also confusing because the project has one official release listed https://github.com/onetrueawk/awk/releases from 2018.

See here on repology it's just a big mess all the distros are on the old 2018 release, or on various hashes or extremely outdated versions https://repology.org/project/nawk/versions

I

[2020-02-26 08:10] #467 closed

[2020-02-26 11:22] dylanaraps commented on #463
Feel free to reopen if you'd like to resubmit the package.

[2020-02-26 11:22] #463 closed

[2020-02-26 12:01] RibalGZ commented on #63
The simples printing system I know about is [prout](https://git.2f30.org/prout/file/README.html).
It depends on cups.h, but doesn't need any cups server running.

[2020-02-26 12:53] Vouivre commented on #63
After packaging `lprng` it's more lightweight than `cups`, but I prefer packaging `cups`. The quality of printing with my printer is not very good and to improve it I need a software which probably need `cups`. So I will package it. By the way, thank you for your suggestion RibalGZ! I could also try `prout`. So the next step for me is the PR.

[2020-02-27 06:19] Vouivre commented on #153
I have switched to `sowm`, but it's not better. So it has nothing to do with the wm. I will install Linux on other computer and I will be able to compare. I think it will be in two or three month. Until then, I don't know where to search: kernel ? Graphical problem ?

I have to check if graphical acceleration is enableb on my computer. As I understand, I had this problem and I have enabled only fo

[2020-02-27 13:07] cemkeylan opened #473 "sysmgr: New software needs testing before adding a PR"
Hello to everyone reading this,

I have just released a new software named [sysmgr](https://github.com/cemkeylan/sysmgr) which is a system-supervisor similar to Runit but written in POSIX sh. I will be adding it to Community once I think that we have tested it sufficiently. I would be really happy if people interested in this would test it.

Thanks for the help :)

[2020-02-28 07:45] Vouivre opened #477 "bash: build fails"
Hello,

buy building bash, I get the following error:

[code]

Does somebody else get the same error ? `ncurses` is installed an my system is up-to-date.

[2020-02-28 09:18] dylanaraps commented on #477
I can't reproduce this. Is your system up to date? Tried rebuilding and reinstalling ncurses?

[2020-02-28 19:21] Vouivre commented on #477
I had in mind I tested it and in fact the build fails. I discovered it in a chroot. I will try one more time in a chroot from a fresh system ....... ahem...... all of a sudden I have an idea.

Yes: I did my build of `ncurses`. I don't remember why, perhaps for `neomutt` or something like that. With the official version, there is no problem. Sorry ....... :worried:

[2020-02-28 19:21] #477 closed

[2020-02-29 14:46] Vouivre commented on #63
I tried to create the package in a chroot, I'm not at the end and honestly there is a lot to do. To compile `cups`, I have no dependencies, it's alright. To `cups-filters`, it's another story. For the moment, my dependency list is:

[code]

For the moment `qpdf` and  `ghostscript` are not packaged. `poppler` need a modification in the build file. I'm still not at the end, I need to package mupdf-t

[2020-03-01 08:05] jedavies-dev opened #488 "mercurial build fails"
I get the following error when attempting to build mercurial:

-> mercurial Building package (1/1)
-> mercurial Extracting sources
-> mercurial Starting build
Collecting docutils
  Downloading https://files.pythonhosted.org/packages/81/44/8a15e45ffa96e6cf82956dd8d7af9e666357e16b0d93b253903475ee947f/docutils-0.16-py2.py3-none-any.whl (548kB)
Installing collected packages: docutils
ERROR: Could not

[2020-03-01 08:43] dylanaraps commented on #488
I've removed the package.

@sirtomato999 Did you not test this before submission?

This goes for everyone. I can't keep doing this. Test your packages before submission. I shouldn't have to repeat myself.

[2020-03-01 08:43] #488 closed

[2020-03-01 16:23] artemkobets opened #489 "ntfs-3g: build fails"
@Bridouz
from ntfs-3g/build:
[code]

Backslash at the end of ./configure line is missing.

[2020-03-01 16:38] #489 closed

[2020-03-01 16:39] dylanaraps commented on #489
Sigh. I've taken over this package. This needs to stop happening.

everyone: TEST YOUR SHIT BEFORE SUBMITTING PLEASE.

[2020-03-01 16:47] Vouivre commented on #63
@RibalGZ : did you already tried `prout` ? No problem to compile `prout`, but I get the error:
[code]

 Any idea what can I do ? Otherwise I can direct contact the author of `prout`.

[2020-03-01 22:43] RibalGZ commented on #63
I don't have a printer to test, but according to the README:

Where client.conf(5) corresponds to: https://www.cups.org/doc/man-client.conf.html

I hope it helps.

[2020-03-02 09:03] a-schaefers opened #490 "pciutils: not showing expected hardware info..."
Reported by @ioraff

For example, our current lspci shows:

[code]

And it should show the following:

[code]

[2020-03-02 09:08] #490 closed

[2020-03-02 12:57] a-schaefers opened #493 "go fails to build"
[code]
[code]

[2020-03-02 13:05] konimex commented on #493
I can't reproduce this in my system (logs: https://termbin.com/alt4). I need a third-party to verify if this build actually fails.

@dylanaraps ?

[2020-03-02 13:44] dylanaraps commented on #493
Go builds fine here.

[2020-03-03 05:58] a-schaefers opened #495 "libcap: latest version fails to build"
I am currently unable to bump libcap from 2.32 to 2.33

I suspect `undefined reference to pthread_yield` is the problem, it seems to build fine with make, but on the second make is failing on a test. And from some googling, it seems that we may be able to patch it to use sched_yield instead

[code]

[2020-03-03 06:28] a-schaefers commented on #495
I made a patch for it https://github.com/kisslinux/community/pull/496

[2020-03-03 07:42] #495 closed

[2020-03-03 07:44] dylanaraps commented on #493
Try adding 'export TMPDIR=$PWD` to the top of the go build file. @a-schaefers

[2020-03-03 07:45] dylanaraps commented on #493
[code]

This is where it fails in the source: `src/cmd/dist/unix.c`

[2020-03-03 07:52] a-schaefers commented on #493
I had removed baselayout, as I'm not using it, which in turn had removed /var/tmp (baselayout contains the line:)

`install -dm 1777 "$1/var/tmp"`

Running

install -dm 1777 /var/tmp

fixes the issue

[2020-03-03 07:52] #493 closed

[2020-03-03 07:54] dylanaraps commented on #493
[code]

[2020-03-03 08:26] a-schaefers commented on #153
Is it using GTK? I have seen this problem with GTK before, but not on kiss.

You might trying removing everything related to setting gtk themes, if you have done so, and see if that works around the problem, and might give a hint as to what might be the cause.

[2020-03-03 17:21] dylanaraps opened #499 "libcap wrong pkgconfig install directory"
[code]

@a-schaefers

[2020-03-04 09:58] #473 closed

[2020-03-04 12:26] sdsddsd1 commented on #499
@a-schaefers : Libcap is still broken for me.  The files `libpsx.pc` `libcap.pc` are still in /usr/lib.
Config arg `PKGCONFIGDIR=/usr/lib/pkgconfig` puts it in its right place

[2020-03-04 12:30] dylanaraps commented on #499
Fucking hell. Test your shit please everyone.

[2020-03-04 14:18] a-schaefers commented on #499
Sorry guys I really dropped the ball on this. Should be all good now.

[2020-03-04 14:27] #499 closed

[2020-03-04 14:59] sdsddsd1 opened #505 "Json-c different manifest since swap to cmake"
@konimex since swapped to cmake for json-c some files are missing. That are:
`libjson-c.so.4.0.0` `libjson-c.so.4`  `libjson-c.la`. `json_visit.h` `json_object_iterator.h` .
Kiss-manifest for json-c with gnu-make:
[code]
Are you in particular need of cmake for wyvertux? If so I can provide this package myself.
Greetings.

[2020-03-04 15:09] konimex commented on #505
Of course the SONAME is missing, this is becoming common on CMake-based build systems for some packages. Anyway, `.la` is generally unneeded on modern Linux systems. But I'll need to take a look for the headers.

The reason I swapped to cmake is to prevent `automake` systems. And since commit https://github.com/json-c/json-c/commit/a92e6d2c2840c88b8a4a3a2520b71c7b4a63e018 a patch should be availab

[2020-03-04 15:26] konimex commented on #505
Looking at the changes made (particularly for CMake) since last release, I guess the only way forward is to go "latest commit" (though I'm not tracking `git` since I believe the changes are pretty trivial from my view) until a new version is finally released. I'll get a PR ready tomorrow.

[2020-03-04 15:42] #505 closed

[2020-03-05 20:58] dylanaraps opened #507 "ne out of date"
@sebastianertz

[2020-03-06 23:43] IslandAlpha opened #513 "nmap: drop python2 dependency"
It's only needed for the zenmap GUI which most people don't use. Nmap just skips building it if python2 is missing anyways.

Remove python2 from `depends` and either:
1. Tell users to build python2 before nmap if they want zenmap.
2. Drop zenmap entirely using `--without-zenmap`.

[2020-03-07 09:21] #513 closed

[2020-03-07 09:22] dylanaraps opened #514 "nss out of date"
@periish

[2020-03-07 10:57] dylanaraps commented on #153
I think it's time we close this one. No one else can reproduce. I think it's best left to upstream. :+1:

[2020-03-07 10:57] #153 closed

[2020-03-08 19:04] #514 closed

[2020-03-10 07:46] #507 closed

[2020-03-11 18:07] dylanaraps opened #524 "boost causes a linker error when building ledger"
Is this maybe due to it being built statically? Why _is_ it built statically in the first place? @cemkeylan

[code]

[2020-03-11 18:08] dylanaraps commented on #524
On a slightly off-topic note: I'd rather we get rid of boost entirely... It's huge and horrible.

[2020-03-11 18:08] dylanaraps commented on #524
CC @eudaldgr

[2020-03-11 18:18] eudaldgr commented on #524
Same error here.

[2020-03-11 18:45] dylanaraps commented on #524
Making boost build dynamically enables the ledger build to complete. :+1:

[2020-03-11 19:32] cemkeylan commented on #524
I have built it statically because I wasn't aware of programs that required boost to be built dynamically. Fixed :+1:

[2020-03-11 19:44] #524 closed

[2020-03-12 11:35] sdsddsd1 opened #527 "sdl2 outdated. New version at 2.0.12"
@alaughlin Sdl2 is outdated.

[2020-03-12 13:25] sirtomato999 opened #529 "cbindgen fails to build"
I'm updating my machine, and I get this
[code]
This crate builds on a glibc void chroot

[2020-03-12 13:43] dylanaraps commented on #529
It builds fine here. Output of `kiss l`?

[2020-03-12 14:13] sirtomato999 commented on #529
https://termbin.com/l1ko

[2020-03-12 14:40] sirtomato999 commented on #529
ah, I was on the rustup toolchain

[2020-03-12 14:40] #529 closed

[2020-03-15 08:47] IslandAlpha opened #537 "qemu: add perl build dependency"
Build fails because make can't find perl, looks like its a build dependency.

Now that perl isn't a part of core, either add `perl make` to depends or patch it to not depend on perl.

@jedavies-dev

Edit: [Gentoo](https://gitweb.gentoo.org/repo/gentoo.git/tree/app-emulation/qemu/qemu-4.2.0-r2.ebuild) lists perl as a build dependency, it's not a me problem.

[2020-03-15 17:17] jedavies-dev commented on #537
Please try this again now and let me know if you have any issues.

[2020-03-15 17:18] #537 closed

[2020-03-16 07:16] dylanaraps opened #541 "berry out of date"
@lieuxnoir

[2020-03-16 07:16] dylanaraps opened #542 "webkit2gtk out of date"
@cemkeylan

[2020-03-16 07:17] dylanaraps opened #543 "xtrlock out of date"
@dzove855

[2020-03-16 07:28] cemkeylan commented on #542
Yup, the musl build is having issues I am repatching it. I will send a PR by tonight.

[2020-03-16 14:13] sdsddsd1 opened #544 "libcap: add missing perl make dependency"
@a-schaefers : Perl is a make dependency for libcap.
Steps to reproduce: remove perl, rebuild libcap. Libcap fails to build.
Are those nitpicks welcome for community packages?

[2020-03-16 16:10] dzove855 commented on #543
https://github.com/kisslinux/community/pull/545 here we go

[2020-03-16 17:58] a-schaefers commented on #544
Thanks for letting me know.

Yes, definitely.

[2020-03-16 19:46] cemkeylan commented on #542
I won't be able to push the PR right now. There are still issues regarding JavaScript execution. Here is the updated patch for musl fixes if you would like to inspect it.  https://gist.github.com/4ae621256ffd730d238a649879db8bd9

[2020-03-17 08:13] #544 closed

[2020-03-17 08:14] #543 closed

[2020-03-19 13:43] sdsddsd1 commented on #527
This package is now 7 days out of date. Its an important package for me (kiss-games). I want to take maintainership. I create a pullrequest if so.

[2020-03-19 14:15] dylanaraps commented on #527
It's yours @sdsddsd1

[2020-03-20 11:41] #527 closed

[2020-03-20 11:41] #541 closed

[2020-03-20 16:08] IslandAlpha opened #558 "Build system preferences"
I'm packaging jsoncpp which offers a choice between cmake and meson. Which should I prefer? Could a preferred order of build systems be added to k1ss.org/style?

[2020-03-20 16:30] dylanaraps commented on #558
It's up to you really. I'd prefer generated autotools (if availabe) (./configure; make; make install). I'll amend the style guide.

[2020-03-20 16:30] #558 closed

[2020-03-20 20:19] cemkeylan opened #561 "Lazygit: orphaning/removing package"
Hey there, I haven't been using lazygit for a real long time, and if no one else is using it, or wants to maintain it, I will be removing this package. I'll keep this issue open for a week before I open a PR for removal.

[2020-03-21 08:44] ioraff opened #563 "irssi: orphan and/or remove"
I am no longer using this program, so will move to remove it from the repository in a week from my posting of this if no one else wishes to maintain it.

Thanks.

[2020-03-21 08:54] IslandAlpha opened #564 "qrencode: remove or adopt"
I can't even remember what this was packaged for, and no packages that I know of use it.

Unless anybody else uses this and wants to adopt it this will be gone in one week.

[2020-03-21 15:23] konimex opened #568 "weechat: orphan"
Due to Weechat's dependence on GnuTLS (while GnuTLS itself is no longer a GNU package, it depends on nettle, which is a GNU package, and due to the nature of the project I'm doing, I cannot use weechat), I'm orphaning `weechat` as a result and moving to `irssi`.

In 7 days, I'll create a PR removing `weechat`, so I'm looking for a new maintainer.

Related: #567

[2020-03-21 16:18] #563 closed

[2020-03-22 09:15] IslandAlpha opened #572 "netsurf, perl-html-parser, perl-html-tagset: orphan"
I no longer use netsurf and its dependencies, so whoever does use this would be a better maintainer.

[2020-03-23 13:40] Vouivre commented on #564
Hi, I use it, so I will adopt this package. I have one question: it is possible to change manually the maintainer on repology ? I don't have a look regularly on repology, so the probability is high I will miss new releases, including for other software.

[2020-03-23 13:43] Vouivre commented on #63
Update: I still want to package `cups` or `prout`, but at the moment I have no time to invest on it. In those crazy moments, I can only invest some time on tasks I really need or don't require a lot of time. In between if somebody needs my `build` file for cups, just ask.

[2020-03-23 14:37] dylanaraps commented on #564
Send a PR adding a trailing space to the version file (`"1.0.0 1"` becomes `"1.0.0 1 "`).

[2020-03-23 22:22] Vouivre commented on #564
Thank you! I will use this trick for my other packages. PR done.

[2020-03-24 08:27] #564 closed

[2020-03-24 20:56] jedavies-dev opened #584 "i3, i3-gaps do not build"
These currently fail to build.  Error is at the patching stage:
[code]

[2020-03-25 07:25] dylanaraps commented on #584
@sirtomato999

[2020-03-25 07:58] dylanaraps commented on #542
It's rather important that this be kept up to date (within a reasonable time) as it's a web browser and each release brings with it security fixes.

Ping @cemkeylan

[2020-03-26 14:10] cemkeylan commented on #542
I couldn't do it. I checked other musl distros that package `webkitgtk`.
Alpine's patches do not build (they have also added libwpe as a
dependency). Void did not update their packages yet.

My own patch does build, but some javascript core functions don't work.
Funnily enough, I noticed it when I was going to add a Pull Request and
couldn't click the `compare across forks` button. My later change

[2020-03-26 18:17] Pulgovisk commented on #542
@cemkeylanyou can try to look at the patches on [this gentoo musl pull request](https://github.com/gentoo/musl/pull/302/commits/a508ec2b6e6ce20a5e4e804cc9fc4e52af661ae9)

[2020-03-26 18:45] cemkeylan commented on #542
Patches here are for older versions, webkitgtk hasn't been updated in the musl overlay of Gentoo yet. Thank you regardless.

On 26 March 2020 21:17:53 GMT+03:00, "João Paulo Pulga" <notifications@github.com> wrote:

--
Cem Keylan

[2020-03-26 20:36] cemkeylan commented on #542
I have just tested alpine's build of webkit2gtk which seems to be the only musl distro that updated. Keep in mind that they have only bumped their versions in the `edge` repository, which is alpine's "build first, test later" branch.

* I have installed their package in a chroot and built surf. It crashes before starting.
* I thought it would be a better idea to see a webkit browser they package t

[2020-03-27 08:35] #561 closed

[2020-03-27 10:17] IslandAlpha commented on #572
It's almost been a week, I'll remove this in a couple days unless somebody wants to maintain these.

[2020-03-27 11:34] dylanaraps commented on #542
I'll see what I can do. :+1:

[2020-03-27 15:14] dylanaraps commented on #542
I have working webkit2gtk, here's a patch you can apply to the repository files here.

[code]

[2020-03-27 16:23] cemkeylan commented on #542
Building it now. Thanks a lot, Dylan.

[2020-03-27 18:32] #542 closed

[2020-03-28 15:32] konimex opened #599 "gnutls: orphan"
I won't be maintaining GnuTLS anymore. However since both Emacs and GnuPG depends on the package, I'll need to ask maintainer(s) of both packages to take over (if possible).

[2020-03-28 15:33] #568 closed

[2020-03-29 19:09] #572 closed

[2020-03-30 14:12] eudaldgr opened #609 "zathura: fails to build"
@Vouivre

`kiss b zathura`
[code]
[Complete log](https://termbin.com/x6fs)

[2020-03-30 15:57] Vouivre commented on #609
I had exactly the same problem with a `kiss update` and `gtk+3`.

I tried to rebuild `zathura` and it also failed.

Here `/usr/lib/libmagic.so` is owned by `file`. Try to rebuild `file` and then `zathura`. For me it solved the problem.

[2020-03-30 16:06] eudaldgr commented on #609
That's solved my problem. Thanks.

[2020-03-30 16:06] #609 closed

[2020-03-31 09:52] dylanaraps opened #615 "w3m version incorrect."
It should be `0.5.3` as per Repology. Fixing it will allow Repology (and yourself) to track the version correctly. (Just fix the version in the version file.) :+1:

@trbednarzyk

[2020-03-31 09:53] dylanaraps commented on #584
Ping @sirtomato999

[2020-03-31 19:47] sirtomato999 opened #618 "Packages up for adoption: i3(-gaps)"
I just don't have the time and energy to maintain i3 and i3-gaps. I will still be maintaining my contributed packages: hsetroot, GNU screen, and tty-clock, but that's all I can really handle at the moment.

[2020-04-01 03:00] konimex commented on #599
@a-schaefers since both Emacs and GnuPG2 depend on GnuTLS, would you mind if you take over this package? Thanks.

[2020-04-02 00:17] a-schaefers commented on #599
Not a problem :)

[2020-04-02 08:46] eudaldgr commented on #63
I want your build's of `cups` and `lprng`

[2020-04-02 08:47] eudaldgr commented on #63
@Vouivre I want your build's of `cups` and `lprng`

[2020-04-03 06:19] Vouivre commented on #63
@eudaldgr

I will create a repository until tomorrow with the necessary build files. But in between the `build` for cups:

[code]

You also need `cups-filters`. More tomorrow.

[2020-04-04 20:29] Vouivre commented on #63
I have added some packages necessary for `cups` on my `kiss-repository`. If you still miss something, you can take it from that repository. Take into account some dependencies are missing. You will have to add them manually.

Side note: the web interface doesn't work. Use `lpadmin` to add your printer.

[2020-04-05 19:55] onodera-punpun opened #642 "htop: doesn't build with gcc 10"
gcc 10 is currently in testing, patch: https://github.com/hishamhm/htop/pull/981

[2020-04-06 17:05] onodera-punpun opened #643 "Restructure repo"
This issue is also applicable to `repo`. Currently my repo directory looks like this:

[code]

Kind of inconsistent and messy.
It would be way nicer looking like this imo:

[code]

For this core, extra, testing and xorg would have to be split into three separate repositories, and every repository would have to need its ports in the root directory. Thoughts?

[2020-04-06 20:04] cemkeylan commented on #643
You could technically do something like this yourself. Move `repo` and `community` to some other directory. Then, you can symbolically link them to a single directory.

Imagine the actual structure looks like this

[code]

You can then do

[code]

This will end up in the directory structure you would like.

[2020-04-06 22:17] onodera-punpun opened #645 "btrfs-progs: Missing dependency util-linux (or rather, libblkid)"

[2020-04-07 19:50] onodera-punpun opened #646 "mpd: provide service file"
Like for example mdev does, in `/ect/sv/`

[2020-04-07 21:17] trbednarzyk opened #647 "mpd: build fails due to undefined references"
Like the title says, I am unable to build mpd (both the current community 0.21.21 version and the new 0.21.22 version in the pull request). Here's the actual error given for 0.21.21, though I get the same error for 0.21.22:
[code]

Here is the complete build output: [out.txt](https://github.com/kisslinux/community/files/4447011/out.txt)

[2020-04-08 01:19] trbednarzyk commented on #647
Strangely, this is only occurring on my desktop. I was just now able to successfully install mpd on my laptop.

[2020-04-08 19:35] eudaldgr opened #651 "qemu: unable to passthrough host USB device"
After installing `libusb` package, for the obvious. `qemu` didn't start with this error message.
[code]
without the usb option it works properly.
@jedavies-dev

[2020-04-08 20:16] jedavies-dev commented on #651
Tested locally by installing libusb and then rebuilding qemu - worked OK for me.

Some thoughts:
 - Looking at the error you got, doesn't libintl.so come from gettext?  Did you have gettext installed at some point recently?
 - What do you see when you do this:  ldd /usr/lib/libgpg-error.so.0
 - Can you run /usr/bin/gpg-error OK?   Also see ldd /usr/bin/gpg-error

[2020-04-09 20:20] cemkeylan opened #656 "Libressl update inbound."
Dylan is not here at the moment, but a libressl update was released. And it requires a rebuild for some packages. It is a good idea to create PRs to bump the release numbers, so everybody has an overall smoother update experience when Dylan is back and he updates the KISS repository.

Keep in mind that not every package that depends on libressl break. ~`curl`~ and `busybox wget`, for example, are

[2020-04-09 20:48] cemkeylan commented on #647
`libavcodec.so` belongs to `ffmpeg`, and `lzma` belongs to `xz`. I had this issue as well, and solved it by rebuilding `xz`, rebuilding `ffmpeg` with the new `xz`, and then building `mpd`.

[2020-04-09 20:51] cemkeylan commented on #646
`mpd` is meant to run by the user, not by root. I cannot add a service file that is user specific.

[2020-04-09 20:52] trbednarzyk commented on #647
Thank you, that worked!

[2020-04-09 20:52] #647 closed

[2020-04-09 20:59] cemkeylan commented on #647
Great!

[2020-04-09 22:07] onodera-punpun commented on #646
mpd has a specific `user` setting to run in as a user (user `mpd` in my case), see https://wiki.archlinux.org/index.php/Music_Player_Daemon#System-wide_configuration

[2020-04-09 22:37] cemkeylan commented on #646
On 2020-04-10 01:08, Camille wrote:

Oh, I didn't know about that. I'll add a service script then. Thanks for
the input.

--
Best regards,
Cem Keylan

[2020-04-10 01:39] ioraff commented on #656
Just FYI, I'm unable to maintain these at the moment as my machine is having problems--I won't be able to replace it for over a month. I notified Dylan, and he was maintaining mine in the interim.

Thanks for the this nonetheless.

[2020-04-12 00:04] aaronNGi commented on #656
Once dylan is back to accept all the pull requests, I will bump `socat`.

[2020-04-12 15:19] eudaldgr commented on #651
1.- Yes i installed `gettext` recently, now it's removed.
2.-
[code]
3.-
[code]

[2020-04-13 15:36] jedavies-dev commented on #651
I'd guess that you built libgpg-error while gettext was installed and it was therefore linked to libintl.  Now gettext is no longer present, the program cannot start.

Try rebuilding libgpg-error and see if that resolves it.  You may have other packages which are also linked to gettext and could cause problems, so anything else showing this kind of error should be rebuilt also.

[2020-04-13 15:50] eudaldgr commented on #651
Thanks, it's a stupid issue.

[2020-04-13 15:50] #651 closed

[2020-04-14 11:17] dylanaraps commented on #656
I'll get onto this shortly. :+1:

Thanks everyone.

[2020-04-14 11:23] #599 closed

[2020-04-14 12:24] dylanaraps commented on #618
Anyone willing to maintain these?

[2020-04-14 16:36] eudaldgr opened #667 "libXslt: fails to build"
@cemkeylan

`kiss b libXslt`
[code]
[Complete log](https://termbin.com/ptvm)

[2020-04-14 17:08] cemkeylan commented on #667
That's weird, I don't have `/usr/lib/libintl.la` on my system, yet I don't have build issues.

It might be that one of your libraries are broken, because of an update, or removal of a package. Try to reinstall removed packages and rebuild the package.

I will get to this in a few hours, sorry for the delay.

[2020-04-14 17:18] cemkeylan commented on #667
Okay, `libintl.a` is a `gettext` library. If you previosly installed it, that's why. I think that you may need to rebuild `libtool`, because it may be the issue here.

[2020-04-14 17:31] cemkeylan commented on #667
Also libXslt links itself to these packages if they exist,

* libgcrypt
* libgpg-error
* xz
* zlib

So you may want to check them as well

[2020-04-14 20:53] eudaldgr commented on #667
yeah, i know it's something related the `gettext` package, but the thing is that after remove it, i rebuild all my installed packages and the problem persists

[2020-04-15 09:49] cemkeylan commented on #667
You can try something like this.

[code]

[2020-04-15 09:59] eudaldgr commented on #667
There is no output for this.

[2020-04-15 10:26] konimex commented on #667
Since libintl *doesn't* exist and (iirc) ldd will throw an error to stderr. Perhaps you need to do `2>&1` instead of `2>/dev/null`.

[2020-04-15 10:26] cemkeylan commented on #667
Okay, then try

[code]

This will output all errors on your libraries

[2020-04-15 13:46] eudaldgr commented on #667
[Output](https://termbin.com/y17r)

[2020-04-15 14:10] cemkeylan commented on #656
Ping @aaronNGi @dzove855 @penguin-ff @IslandAlpha

[2020-04-16 11:06] aicsx commented on #645
-*blkid
in order arch and crux consider this cycle:
e2fsprogs requires util-linux (libblkid)
btrfs-progs requires e2fsprogs

alpine treat it differently:
libblkid in "main" origin from util-linux
e2fsprogs and brtfs-progs requires libblkid.

We should decide how to treat it.

[2020-04-16 12:35] dylanaraps commented on #645
The simplest solution is to just make btrfs-progs depend on util-linux.

[2020-04-16 17:09] cemkeylan commented on #667
I am unsure about this situation. I would advise rebuilding libxml2 and binutils, but I honestly don't know.

[2020-04-16 19:40] aicsx commented on #645
Ok, i change depends and bump at release 5.6 in next PR. I think for now it's can close.

[2020-04-17 07:36] eudaldgr commented on #667
I don't know why but when i packaged `surf` it was builded, the problem was happened when i'm trying to build `vimb`, and now i don't want it, but i think is solved and don't know why.

[2020-04-17 11:08] #667 closed

[2020-04-17 11:08] dylanaraps commented on #667
This is an issue with your system and not the libXslt package. :+1:

[2020-04-17 12:27] dylanaraps commented on #645
This has been fixed. Thanks all.

[2020-04-17 12:27] #645 closed

[2020-04-17 13:53] #646 closed

[2020-04-18 20:46] onodera-punpun opened #695 "transmission: build with web interface"
Doesn't add any additional dependencies it seems, Gentoo also does not have useflag to disable it. It simply installs a few files in `/usr/share/`.

All that needs to be done is:

[code]

to

[code]

[2020-04-19 05:40] dylanaraps commented on #695
@ioraff

[2020-04-19 05:46] #642 closed

[2020-04-19 05:47] #618 closed

[2020-04-19 05:48] #615 closed

[2020-04-19 05:49] dylanaraps commented on #584
Both of these have been dropped from community as no one wanted to take them over.

[2020-04-19 05:49] #584 closed

[2020-04-19 05:59] dylanaraps commented on #643
Community is structured exactly like the other (git) repository to allow for the possibility of new community based repositories in the future. The most likely (and obvious) being a community-testing repository.

Going the other way and splitting the official repositories in three is not something I'd like to do. It'd be a large breaking change and require manual intervention by every user. I'd ve

[2020-04-19 05:59] #643 closed

[2020-04-20 18:51] ioraff commented on #695
can you share the new manifest?

[2020-04-20 20:57] onodera-punpun commented on #695
[code]

[2020-04-21 06:45] muevoid commented on #75
@Vouivre Did you ever upload the package files anywhere specifically the patch? I am having no luck getting gimp to compile.

[2020-04-21 19:44] trbednarzyk opened #709 "giblib: bad source URL"
The URL to `giblib-1.2.4.tar.gz` is bad, causing a checksum mismatch when running `kiss b giblib` and the inability to untar the downloaded file.
The proper URL for the file is: `https://github.com/aicsx/kiss-repo/raw/master/giblib/giblib-1.2.4.tar.gz`

@aicsx

[2020-04-22 00:14] aicsx commented on #709
tomorrow i verify, thank you. it is not excluded that he forgot to update checksums by mistake

[2020-04-22 06:12] Vouivre commented on #75
Hello, now it's done: https://github.com/Vouivre/kiss-repository/tree/master/packages

Keep in mind the following:

- I forgot perhaps to upload some dependencies which are not packaged for Kiss
- I can't submit it on community. You will have to manually install some dependencies, because I didn't check the `depends` file
- I don't have the latest version, it's 2.10.14
- I removed `glib-networking

[2020-04-22 06:42] Vouivre commented on #63
I just had a look at `prout`. For me I won't go that way: a cups server is necessary, so `cups` is needed. I will go back and test `lprng` or trying to have a minimal installation of cups.

[2020-04-22 12:32] aicsx commented on #709
It's in PR https://github.com/kisslinux/community/pull/711 .
there was actually a checksums error, but I took the opportunity to take advantage of the switch suggestion in / raw / . Thank you trbednarzyk.

[2020-04-22 12:32] #709 closed

[2020-04-22 14:55] trbednarzyk commented on #709
Yes, there was a checksums error but at least on my system simply running `kiss c giblib` did not work. After running that, `kiss b giblib` would print the following error:
[code]

Anyway, the source is good now but I'll be opening another issue as there is still a checksums error.

[2020-04-22 14:58] trbednarzyk opened #712 "giblib: checksum mismatch"
The source URL is fine now and all that needs to be run is `kiss c giblib`. Running it on my machine gave me the following for the checksums file:
`176611c4d88d742ea4013991ad54c2f9d2feefbc97a28434c0f48922ebaa8bac  giblib-1.2.4.tar.gz`

@aicsx

[2020-04-22 17:02] muevoid commented on #153
@dylanaraps Hello! I am having an issue with azpainter where my brushes do not save not sure if this is an issue only with my install or not. If you have time do you think you could possibly test this. Symbian9 has mentioned the issue which has a screencast of the problem.

[2020-04-22 20:11] aicsx commented on #712
uhm ...what is the issue? 76611c4d88d742ea4013991ad54c2f9d2feefbc97a28434c0f48922ebaa8bac  giblib-1.2.4.tar.gz

it's exactly what it has to return.

[2020-04-22 20:42] trbednarzyk commented on #712
I did clear the cache beforehand to be sure that I was using the same source as the package.
However, I still got a checksum mismatch. The checksum you typed above appears to be missing the first character (1), but that's not what you put in the package at all regardless:
[code]
As you can see, I'm up to date with the repo as the sources file matches what you changed it to in the last PR, but the

[2020-04-22 21:04] aicsx commented on #712
I just wrong to paste missing 1 * but there is.
The source is exactly the same, it is the source that changes and therefore it is normal for the check to be different from a different source. The checksums you refer to is before the source change. Update the repo, clear cache and build you shouldn't have any problems. I have tried and I have no errors.

[2020-04-22 21:12] trbednarzyk commented on #712
Again, I was already up to date:
[code]
If you look at the link you sent, you will find that the checksums file in the PR is not the checksums you pasted in the first reply.

[2020-04-22 21:15] trbednarzyk commented on #712
Actually looking at it again, you had the correct checksum and replaced it with an incorrect one.

[2020-04-22 21:55] aicsx commented on #712
wait wait, you're right!
~/kiss-repo/giblib $ sha256sum giblib-1.2.4.tar.gz
176611c4d88d742ea4013991ad54c2f9d2feefbc97a28434c0f48922ebaa8bac  giblib-1.2.4.tar.gz

 probably the build from new source generated a different checksum and it upload in repo -.-'  it was probably a "kiss c" error ... i am checking to upgrade. I have to investigate with dylan to understand why this happened. PR with fix w

[2020-04-23 02:01] dylanaraps commented on #712
I'm still getting a checksum mismatch with your PR merged. Would you like me to update the checksums and push to GitHub? (All that's needed is `kiss c giblib`.

[2020-04-23 02:03] trbednarzyk commented on #712
Yeah, I'm also getting the same issue. I just updated and I see the exact same checksum as before:
[code]

[2020-04-23 08:35] dylanaraps opened #714 "fuse needs configure flag for non-udev systems"
Simply needs the addition of `-Dudevrulesdir=/usr/lib/udev` (Exact path needs verification but this is the gist of it).

@trbednarzyk

[2020-04-23 13:05] ayl1sha opened #716 "tor: provide service file"
Like for example mdev does, in /ect/sv/

@IslandAlpha

[2020-04-23 13:51] #714 closed

[2020-04-23 17:54] IslandAlpha commented on #716
Gotcha, I'll get to work on it.

[2020-04-23 22:52] ioraff commented on #695
This is fine. I suppose the package should be renamed to just `transmission` then.

[2020-04-24 08:29] #716 closed

[2020-04-24 16:31] ayl1sha opened #725 "tor: wrong config location"
Currently in: /usr/etc/tor/
Should be in: /etc/tor/

@IslandAlpha

[2020-04-24 19:03] #725 closed

[2020-04-25 11:35] dylanaraps opened #731 "Add colemak to bkeymaps"
For some reason it lives in a separate tarball? https://dev.alpinelinux.org/bkeymaps/bkeymap-colemak-1.13.tar.gz

I'm not sure if this should be a new package or not. Will await your reply. :+1:

@cemkeylan

[2020-04-25 12:03] sdsddsd1 opened #732 "webkit2gtk: full fledged build"
I would like to have a alternative version to the existing webkit2gtk which is able to play videos.
Looking at the build there is pretty much everything disabled. Are there security concerns?
I have allready tried with the following but no succes to play videos on eg [media.cc](https://media.ccc.de/v/jhremote20-3004-antisurveillancerouter).
Youtube errors with no available html5 support but that m

[2020-04-25 12:58] cemkeylan commented on #732
Yeah, this was intentional as we wanted to keep the dependencies minimum. Youtube gives that error because video streaming is disabled. I personally use webkitgtk with surf, and I use mpv for media playback.

Surf has a patch to open the current video with mpv, if you would be interested in that.

If you have gstreamer libraries, you can enable video streaming with `kiss-fork` and `kiss-link`.

I

[2020-04-25 12:58] cemkeylan commented on #731
Yeah sure I will merge them.

[2020-04-25 13:08] sdsddsd1 commented on #732
In mpv: Yes I know about it and use it but sometimes I also like just to click (: .
Wouldn´t it be possible to add webkit2gtk-fullfledged and use kiss alternatives?

[2020-04-25 13:15] dylanaraps commented on #732
Yeah. Though there's no need if the user only installs one instance of webkit2gtk.

[2020-04-25 13:16] dylanaraps commented on #732
We could set them (gst-whatever) to `auto` (in configure) so that webkit2gtk builds with them if installed and without if not. A simple `post-install` message can they be added to inform users.

[2020-04-25 14:18] cemkeylan commented on #732
Setting to AUTO requires them to exist, and doesn't build without gstreamer

[2020-04-25 14:19] cemkeylan commented on #732
I can create a new version where it just enables video and audio support

[2020-04-25 15:50] periish opened #734 "readline: build with --with-curses option"
Any package that tries to link to readline will throw out errors along the lines of https://termbin.com/i3tq. @a-schaefers

[2020-04-25 16:05] sdsddsd1 commented on #732
I think the vanilla webkit2gtk doesnt show preview images on e.g reddit. Since I  enabled `openjpeg`  they do.

[2020-04-25 16:07] cemkeylan commented on #732
No, I haven't had any issues with images without openjpeg.

[2020-04-25 16:29] sdsddsd1 commented on #732
@cemkeylan Ok you are right, nvm.

[2020-04-25 19:08] cemkeylan commented on #732
Okay, so I am trying with `OPENGL=OFF`. IIRC that is not necessary for video/audio playback. I will report back when the build is over (around half an hour).

[2020-04-25 19:40] cemkeylan commented on #732
Nope, it still can't stream audio or video. Here is the build

[code]

I have installed `gstreamer`, `gst-plugins-base` and `gst-plugins-bad`

[2020-04-25 20:14] sdsddsd1 commented on #732
I have pushed my gstreamer builds to my [repo](https://github.com/sdsddsd1/kiss-s3d4/tree/master/personal-repo). I just let them autoconfigure.

[2020-04-25 21:05] sdsddsd1 commented on #732
Got it. Check my repo for the aditional gst* . We may find out if all are needed. This time no dependsfile.

[2020-04-26 06:11] dylanaraps commented on #734
Note: This may not solve the issue. Some further digging may be required. From what I can understand, the above error will occur with everything that tries to link to readline.

[2020-04-26 09:42] #731 closed

[2020-04-27 06:03] dylanaraps commented on #712
Any update on this? (Have we resolved this?)

[2020-04-27 06:10] dylanaraps commented on #734
This *should* fix the issue and I'd like to get confirmation from @periish before we go ahead with it.

[code]

[2020-04-27 13:57] sdsddsd1 commented on #732
I have sucessfully working youtube and a test .mp4 video with
[code]

[2020-04-27 16:22] periish commented on #734
Works now. Issue has been fixed.

[2020-04-27 16:28] periish commented on #734
Oops, sorry. Misclick.

[2020-04-27 21:17] cemkeylan commented on #732
Great! I'm sorry for not being attentive enough. I will
build and try them out now.

Also, I may have an idea for keeping this in the same
package, but I need input on this from @dylanaraps .

Here is the gist, maybe we could check if the package is
installed in the build file like this, and enable options
based on that. So it could look like this.

[code]

What do you think about this?

[2020-04-27 22:09] cemkeylan commented on #732
Yeah, it is working with me as well with the addition of `gst-plugins-good`! ~I will test it for an hour to make sure there aren't any issues.~ Okay, I already have quite a lot of them :D

- Youtube seems to be working well
- Invidious says `No compatible source was found for this media.`
- Soundcloud has glitchy audio. It starts as expected for a few seconds, then it starts making weird noises an

[2020-04-27 22:40] sdsddsd1 commented on #732
I can confirm your issues aswell.
Installing `gst-plugins-ugly` and `gst-libav fixes` all. No invidious without gst-libav.
So we might just accept that all are needed (:

[2020-04-28 01:20] aicsx commented on #712
$ sha256sum giblib-1.2.4.tar.gz
176611c4d88d742ea4013991ad54c2f9d2feefbc97a28434c0f48922ebaa8bac  giblib-1.2.4.tar.gz

I repeat that kiss c has created an incorrect checksums and I have not yet understood why .. when I made s/blob/raw on source but I have already committed you with the correct change.
Address for sources change but bot chrcksum.
please https://github.com/kisslinux/community/commit

[2020-04-28 04:55] #712 closed

[2020-04-28 04:55] dylanaraps commented on #712
I'm still getting a mismatch. These are the correct checksums according to kiss:

[code]

I went ahead and pushed these to the package. An issue like this shouldn't stay open this long.

[2020-04-28 12:52] cemkeylan commented on #732
Yeah, invidious and reddit does work now, but soundcloud still only streams the first second of the song and hangs there.

[2020-04-28 12:55] dylanaraps commented on #732
I suggest a jumbo `gst-plugins` package which contains all of them. Makes it easier to wrap your head around the naming scheme and what is needed for what.

@cemkeylan Anything outputted to the terminal?

[2020-04-28 12:56] cemkeylan commented on #732
No, nothing is outputted to the terminal.

[2020-04-28 12:58] cemkeylan commented on #732
gst-plugins package would make sense, I will package something like that. What do you think about the check we can do in the webkit2gtk package?

[2020-04-28 13:00] dylanaraps commented on #732
That's fine by me. :+1:

[2020-04-29 06:43] dylanaraps opened #741 "Outdated Packages"
We've hit 25 outdated packages in Community. It's reached a stage where I feel the need to open a tracker issue to nudge things in the right direction. (I myself have left a package outdated as well).

I understand that everyone's world is currently a flipped upside down and I am willing to take over the maintenance of anyone's packages if they are currently unable to do so. Just let me know. It's

[2020-04-29 07:13] #734 closed

[2020-04-29 07:21] konimex commented on #741
Due to changes in `json-c`, I cannot upgrade it until `cryptsetup` has a new version.

[2020-04-29 07:24] cemkeylan commented on #741
I have mailed Dimitris (the maintainer of sinit) a few months ago for tarball creation but didn't receive any feedback. If I remember correctly, Michael said that 1.1 wasn't that important for Linux.

I actually do have a [1.1 dist tarball here](https://dl.carbslinux.org/distfiles/sinit-1.1.tar.gz), but others in IRC suggested for sticking to the original source.

[2020-04-29 07:25] dylanaraps commented on #741
Let's go ahead and use your source. We've tried going to the maintainer to no avail so it's fine to take matters into our own hands now.

[2020-04-29 07:29] dylanaraps commented on #741
@konimex There are two commits you could apply (can be merged into a single patch too).

- https://github.com/mbroz/cryptsetup/commit/604abec333a0efb44fd8bc610aa0b1151dd0f612
- https://github.com/mbroz/cryptsetup/commit/e6a356974330e3ae21579a5737976e9a2aad1b51

I don't know how often they release but it seems to me like we're overdue for a cryptsetup update so I'd leave it. :+1:

[2020-04-29 07:31] dylanaraps commented on #656
NOTE: ```
The latest stable release is 3.0.2.
The latest development release is 3.1.0.
[code]

[2020-04-29 07:34] #695 closed

[2020-04-29 11:46] #732 closed

[2020-04-29 16:20] trbednarzyk opened #756 "Circular dependency between mpd and libmpdclient"
As the title says, `mpd` and `libmpdclient` both depend on each other which, as the link below states, is not something supported by the package manager. The two packages should be merged into a single `mpd` package to avoid circular dependencies.

Yesterday, I had opened an issue on the `kiss` package manager ([kiss#142](https://github.com/kisslinux/kiss/issues/142)) because I couldn't remove eit

[2020-04-29 16:20] trbednarzyk commented on #756
@cemkeylan

[2020-04-29 17:39] #756 closed

[2020-04-29 19:24] aicsx commented on #741
scrot original project Is stopped at stable 0.8, next release are fork. it's no avaiable from original devel.

Bind Is full work, at release 17.1 have issue.
libuv Is related to the above.

we must provide functional and stable packages even if in the devel branch as bond version 17.0 or provide a constantly updated system.  I would like to know, seriously to understand how to regulate myself.

[2020-04-29 20:08] dylanaraps commented on #741
Yes. I forgot that we discussed this.

This is fine. We should stick to regular/stable releases unless there's a reason not to.

This is what confused me about bind.

All in all, I agree with you and I'll remove your packages from the list.

[2020-04-29 20:22] aicsx commented on #741
thank you bro. i was sure you would listen to my motives.

[2020-04-29 23:46] DevonMorris opened #759 "Zathura missing runtime dependency on file"
I installed `zathura` and `zathura-pdf-mupdf` and then tried to open a pdf. See the following output

[code]

Upon installing `file` I was able to open the pdf.

@Vouivre @ioraff

[2020-04-30 22:41] onodera-punpun commented on #741
I'm running into some probems with the new freerdp version, and glm has some serious issues (see https://github.com/kisslinux/community/pull/634), will try to update everything soon, besides glm.

[2020-05-01 05:49] dylanaraps commented on #741
@onodera-punpun What you can do is include `glm`  (the last working version) in the sources (of slop) and statically compile it. We can then drop it from the repositories (I'd much rather nothing else depend on it).

[2020-05-01 06:04] dylanaraps commented on #741
@onodera-punpun This works for me:

[code]

[code]

[2020-05-01 06:04] Vouivre commented on #759
Thank you, I missed this dependency. I have created a PR (https://github.com/kisslinux/community/pull/764)

[2020-05-01 06:05] #759 closed

[2020-05-01 06:31] dylanaraps commented on #741
@onodera-punpun Freerdp (latest version) builds for me with:

[code]

[2020-05-01 11:31] onodera-punpun commented on #741
Will be creating PR's this afternoon.

[2020-05-02 23:26] sdsddsd1 opened #774 "gstreamer: missing dependency"
@cemkeylan
Gstreamer fails to build without bison.

[2020-05-03 08:43] cemkeylan commented on #774
Thanks for reporting this. I will add the dependency once I confirm it.

[2020-05-03 20:35] dylanaraps commented on #741
Thanks everyone. Things are back to a manageable state. :+1:

[2020-05-03 20:35] #741 closed

[2020-05-04 06:29] #774 closed

[2020-05-05 06:32] Vouivre opened #780 "llvm: unable to build"
Hello,

I'm trying to build `llvm` but for an unknown reason it fails. I get:

[code]

And then nothing. Is it only on my system ?

[2020-05-05 06:46] dylanaraps commented on #780
Fixed. :+1:

[2020-05-05 06:46] #780 closed

[2020-05-05 13:28] Vouivre commented on #63
I had finally time to investigate the build of cups. I will have soon a build to test. I will package `cups`. First, it's needed for my printer. Secondly, it seems it has more features than `lprng`. I think it's good to have a package for the user which use a printer.

I will test my package, perhaps I have manage to get rid of the dependency of `mupdf`. I'm not sure `ghostscript` is needed. I wil

[2020-05-06 08:44] konimex opened #781 "nettle: remove the need for autoconf and automake deps"
@a-schaefers

Since nettle moved from commit sources to proper sources as per 3.6, I believe it's possible to remove the `autoreconf -fis` and remove the `autoconf` and `automake` dependencies.

[2020-05-06 20:53] a-schaefers commented on #781
Good Thinking

[2020-05-07 14:37] Vouivre commented on #63
After a first try, I can print without `mupdf`. So I can get ride of the `mupdf` dependency.

To package `cups`, I need to create four packages:

- `cups`
- `cups-filters`
- `ghostscript` : necessary for `cups-filters`
- `qpdf`: necessary for `cups-filters`

And I probably need to do a modification to `poppler`.

Is it ok to proceed in that way ?

[2020-05-07 14:40] dylanaraps commented on #63
Nice! Sounds good to me. Great work.

[2020-05-07 15:30] Vouivre commented on #63
Ok, so it needs now some more tests. The packages will arrive the next days.

[2020-05-09 06:59] #63 closed

[2020-05-11 16:35] eudaldgr opened #794 "cups-filters: unable to build"
[log](https://termbin.com/3uy7)
[code]
@Vouivre

[2020-05-12 02:46] a-schaefers opened #796 "Emacs: fails to build"
It appears Emacs does not build with the latest nettle, can anyone else confirm? Edit: I've tried rolling back my nettle to 3.5.1, and still fails to build. Uhg :100:

[code]
I also cannot even load Emacs as I've installed the latest nettle, which now results in lots of linking errors:

[code]

[2020-05-12 05:04] #781 closed

[2020-05-12 08:52] sdsddsd1 commented on #796
There is gcc 10 out.  Have you tried with `export CFLAGS="$CFLAGS -fcommon"` ?

[2020-05-12 09:40] dylanaraps commented on #794
The cups-filters package seems to depend on a specific font: https://github.com/OpenPrinting/cups-filters/blob/master/configure.ac#L787

Looks like we need to add `dejavu-ttf` to depends.

[2020-05-12 09:41] dylanaraps commented on #794
OH! It's only needed for tests. We can disable them.

[2020-05-12 09:43] eudaldgr commented on #794
Thanks!

[2020-05-12 09:45] dylanaraps commented on #794
Try adding:

[code]

before `./configure`.

[2020-05-12 10:54] eudaldgr commented on #794
Error: [log](https://termbin.com/oxwt)

[2020-05-12 17:01] chrisbohn8 opened #803 "Neovim fails to build"
It seems to be a problem with `ninja` I am not quite sure what the issue is
[neovim-2020-05-12-11:51-24212.txt](https://github.com/kisslinux/community/files/4617261/neovim-2020-05-12-11.51-24212.txt)

[2020-05-12 18:44] dylanaraps commented on #794
Your error exactly:

[code]

[2020-05-12 18:59] #803 closed

[2020-05-12 19:00] dylanaraps commented on #803
Fixed, thanks.

[2020-05-12 19:13] eudaldgr commented on #794
Yeah, and on the build pkg process, that's possible, a previous file that exist inside the package?

[2020-05-12 21:47] Vouivre commented on #794
I think I missed it, sorry. I have tested this package on a chroot and it compiled without problems. But I had created of package for the `dejavu` fonts and it was available in that chroot. I have cleaned my chroot and will test again.

@dylanaraps : is it not possible to disable the tests without a patch ? I'm rebuilding `cups-filters` and I will only be able to check tomorrow.

[2020-05-13 13:41] Vouivre commented on #794
PR https://github.com/kisslinux/community/pull/806 created. I tried with the `sed` command and it works.

@dylanaraps : thank you for the fix!
@eudaldgr  I would simply delete the path `/home/eudaldgr/.cache/kiss/pkg-28405/`

[2020-05-13 14:39] #794 closed

[2020-05-14 18:50] a-schaefers commented on #796
Did it require -fcommon , from the sound of it, the package is building fine, and the issue is unique to my machine only?

Please confirm, Emacs is building fine for everybody else?

[2020-05-14 18:55] sdsddsd1 commented on #796
I have not touched anything and it builds just fine.

[2020-05-14 18:57] a-schaefers commented on #796
Closed as other users cannot reproduce

[2020-05-14 18:57] #796 closed

[2020-05-15 07:18] #656 closed

[2020-05-15 15:47] mcpcpc opened #812 "sic-git: style guide violation + package naming convention concern"
1. Per KISS Style Guide 1403, package should refer to the tarball and not the git repository (where possible).
2. There are no KISS rules on package naming conventions (as far as i can tell), but the "*-git" in the package name is confusing.  Considering `kiss search` only handles exact package names at the moment, I would advise renaming the package from "sic-git" to "sic".

reference: https://k1

[2020-05-15 16:25] dylanaraps commented on #812
Some packages may be better served as `-git` ones and their sources will reflect this. It's all up to the maintainer of the package. Nothing prevents someone from submitting a `sic` package which tracks releases. There is typically a rationale attached to the package submission (for `sic-git`, see: https://github.com/kisslinux/community/pull/233).

The `-git` in the name follows `-bin` (for binary

[2020-05-15 16:25] #812 closed

[2020-05-17 08:25] eudaldgr commented on #656
`rtorrent` was broken with the last `libressl` bump.

[2020-05-17 08:47] eudaldgr opened #819 "rtorrent: broken after libressl bump"
With the last `libressl` bump, `rtorrent` search for `libssl.so.47` & `libcrypto.so.45` and there is a `libssl.so.48` & `libcrypto.so.46`
It can be solved with a simple `ln -sf ...` almost for me.
@jedavies-dev

[2020-05-17 08:53] eudaldgr commented on #819
https://github.com/kisslinux/community/issues/656#issuecomment-629761446

[2020-05-17 09:05] dylanaraps commented on #819
You just need to rebuild `rtorrent`. Looks like another package not bumped for the release (otherwise this would have automatically happened). Closing this as it isn't a bug per se.

@jedavies-dev Simply send a PR bumping the second field of the version file. No rush on this.

[2020-05-17 09:05] #819 closed

[2020-05-17 09:08] eudaldgr commented on #819
I can't rebuild `rtorrent`: [log](https://termbin.com/129u)

[2020-05-17 09:18] dylanaraps commented on #819
It looks like you need to rebuild `libtorrent` and then `rtorrent`. @jedavies-dev

[2020-05-17 09:19] eudaldgr commented on #819
Thanks

[2020-05-17 11:50] cemkeylan commented on #796
@a-schaefers this is related to gnutls. You need to rebuild gnutls. I have had the same issue after the nettle update.

[2020-05-17 12:02] cemkeylan opened #820 "cyrus-sasl installs to `/usr/sbin`"
Hello @penguin-ff, I have noticed that the `cyrus-sasl` package installs to the `/usr/sbin` directory instead of `/usr/bin`. This can be easily resolved by adding a `--sbindir=/usr/bin` to the configure script.

[2020-05-18 09:05] dylanaraps opened #823 "Apply sbase tar patch so that _tar() can be removed from the package manager"
Adding this patch (https://patch-diff.githubusercontent.com/raw/michaelforney/sbase/pull/4.patch) from @E5ten will allow us to drop the `_tar()` function from the package manager. This tar implementation is the only known one to not support `-args`. This patch brings it in line with every other tar implementation we're aware of.

This patch has been submitted upstream (and to Michael Forney's mirr

[2020-05-18 16:35] E5ten commented on #823
@cemkeylan mentioning you because you maintain this package.

[2020-05-18 19:45] #820 closed

[2020-05-18 19:45] #823 closed

[2020-05-20 16:59] dylanaraps commented on #812
I've updated the style guide to contain this information. :+1:

[2020-05-21 20:28] dylanaraps opened #838 "Minor fixes to Zathura"
Not sure why these being installed causes the build to fail. This fixes the issue nonetheless.

Error 1 (when `appstream-glib` is installed):

[code]

Error 2 (when `desktop-file-utils` is installed):

[code]

Patch:

[code]

[2020-05-21 20:28] dylanaraps commented on #838
@Vouivre

[2020-05-22 05:33] Vouivre commented on #838
Thank you! :+1:

[2020-05-22 05:57] #838 closed

[2020-05-23 13:53] onodera-punpun opened #846 "luajit: switch to moonjit"
Alpine did so as well:

https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.12.0#moonjit_is_now_luajit

[2020-05-23 18:57] dylanaraps commented on #846
There are so many forks of LuaJIT... which one do we choose? Also, it looks like there's still active development in the original repository? https://github.com/LuaJIT/LuaJIT.

[2020-05-23 20:49] onodera-punpun commented on #846
Oh I wongly thought it was a dead project...

[2020-05-24 06:49] #846 closed

[2020-05-25 19:16] sdsddsd1 opened #851 "sdl: missing dependency: linux-headers"
@alaughlin : sdl needs linux-headers to build.

[2020-05-29 14:45] sdsddsd1 opened #861 "nss: missing dependency: linux-headers"
@periish
[code]

[2020-05-29 14:47] sdsddsd1 opened #862 "gst-plugins-base: missing dependency: linux-headers"
@cemkeylan

[2020-05-29 15:26] dylanaraps commented on #861
FYI: It's a compile time dependency as well (`linux-headers make`).

[2020-05-29 16:21] #861 closed

[2020-05-29 17:37] #862 closed

[2020-05-30 01:48] electimon opened #866 "btrfs-progs: missing dependency: e2fsprogs"
build error:
checking for EXT2FS... no
configure: error: Package requirements (ext2fs) were not met:

Package 'ext2fs', required by 'virtual:world', not found

[2020-05-30 01:50] electimon commented on #866
@aicsx

[2020-05-30 06:43] dylanaraps opened #867 "Outdated packages"
This amount is growing once again to a level I'm not entirely pleased with. The aim of this issue is to
update packages which have been going stale and to bring the number down to a sensible level.

- [x] `bind` @aicsx
- [x] `btrfs-progs` @aicsx
- [x] `cryptsetup` @konimex
- [ ] `fd` @kiedtl
- [x] `feh` @konimex
- [x] `glib-networking` @cemkeylan
- [x] `hyperfine` @kiedtl
- [x] `libgpg-error` @a-s

[2020-05-30 13:53] periish opened #871 "SSL certificate expiration."
The kernel mirrors have let their ssl certificates expire. If any of you have packages that use the kernel mirrors, they won't be able to be  built unless you update sources.

[2020-05-30 13:56] dylanaraps commented on #871
Packages potentially affected:

[code]

[2020-05-30 15:28] Admicos opened #872 "sdl2: Cannot build with dash"
sdl2 cannot build when /usr/bin/sh is set to dash (`kiss a dash /usr/bin/sh`)

This issue is already reported upstream at https://bugzilla.libsdl.org/show_bug.cgi?id=4261, but a workaround (like forcing busybox sh) or warning could be nice.

[2020-05-30 16:52] aicsx commented on #866
although it is not mentioned originally it seems to be correct. It will be added to the release of the next version (bump). Thanks for the tip.

[2020-05-30 17:05] aicsx commented on #871
Yes, problems.
in kiss command, curl error:
curl (60) SSL certificate problem: certificate has expired

More details here: https://curl.haxx.se/docs/sslcertes.html

[2020-05-30 18:33] sdsddsd1 commented on #872
I think everything with an automation to use another sh shell is to complicated  and error prone.
I will display a simple warning at the beginning of the build.
At least at the second attempt it should be visible what has happened.

[2020-05-30 19:43] #866 closed

[2020-05-30 22:13] cemkeylan commented on #871
ueamcs isn't affected. This is an issue with CertAuth as a whole, meaning other vendors outside of kernel.org is affected. gmplib.org (gcc/gmp) seems to be down as well.

[2020-05-30 22:23] cemkeylan commented on #871
This isn't an issue of kernel.org forgetting to renew the certificates, since their expiration dates are not even near. This is a CA issue [affecting other hosts as well](https://status.gandi.net/incidents/026k81gp3vmk). https://kernel.org seems to have solved this issue (the CA issued a new signing key).

https://gmplib.org is still down (which is required in gcc).

[2020-05-31 10:19] sdsddsd1 opened #885 "nano: missing dependency: linux-headers"
@dylanaraps : Nano needs linux-headers to build.
[code]

[2020-05-31 10:31] #885 closed

[2020-05-31 12:41] periish commented on #867
NSS resolved by #886

[2020-05-31 16:36] aaronNGi commented on #867
As mentioned in IRC, I'd prefer if we could delete `loksh` in favor of `oksh`.

[2020-06-01 05:44] dylanaraps commented on #867
@aaronNGi Sure thing. I await your PRs. :)

[2020-06-01 12:20] aicsx commented on #871
for now I solved it by manually downloading with wget the package in the .cache/kiss/source / gcc / gmp.extension

[2020-06-01 12:36] cemkeylan commented on #871
I have changed the sources to point to the GNU ftp two days ago. It can be acquired from https://ftp.gnu.org/gnu/gmp/gmp-6.2.0.tar.xz as well.

[2020-06-01 13:20] dylanaraps commented on #871
Fixed GCC, thanks.

[2020-06-01 16:08] dylanaraps commented on #867
Thanks everyone. This is back to a nicer number.

[2020-06-01 16:08] #867 closed

[2020-06-01 19:00] aaronNGi commented on #867
Done. Sorry, somehow me simply making a pull request which deletes the package didn't cross my mind.

[2020-06-02 17:26] IslandAlpha opened #902 "lcms2: Change name to lcms"
LCMS version 1 is not used by any packages and is not packaged, therefore the 2 is unnecessary.

I'm not used to changing package names; my plan is to create pull requests for the packages which depend on lcms2 so Dylan can commit them all at once.

- [x] openjpeg2 @IslandAlpha
- [ ] cups-filters @Vouivre
- [x] gst-plugins @cemkeylan

[2020-06-02 19:50] dylanaraps commented on #902
You will need to wait for each maintainer to submit pull requests. :+1:

[2020-06-03 13:27] #902 closed

[2020-06-03 13:28] dylanaraps commented on #902
Thanks all. :+1:

[2020-06-03 17:14] ectlunya opened #908 "wmutils: core man pages installed in incorrect location"
@periish

`MANPREFIX=/usr/share/man` should be used for core as well since the default location is /usr/man.

[2020-06-05 05:48] dylanaraps commented on #872
The dash issue has been fixed upstream: https://git.kernel.org/pub/scm/utils/dash/dash.git/commit/?id=e8e29001ad1cdeb68a5c617db149830e676c32c8

Bug report: https://www.mail-archive.com/dash@vger.kernel.org/msg01935.html

[2020-06-05 05:49] dylanaraps commented on #872
Once @a-schaefers updates dash, this should be fixed.

[2020-06-05 05:49] #871 closed

[2020-06-05 05:50] dylanaraps commented on #871
This should no longer be an issue. The latest libressl will also prevent this from happening again.

[2020-06-05 05:50] dylanaraps commented on #851
@sdsddsd1 This package is yours if you would like to adopt it. This issue has been open too long.

[2020-06-05 09:59] sdsddsd1 commented on #851
I will open a pull request.
`dosbox` is the only package in community which depends on `sdl`.
@jedavies-dev : is this sed command required for it?

[2020-06-06 10:06] periish commented on #908
Will be closed by #912.

[2020-06-06 11:53] #851 closed

[2020-06-06 12:00] #908 closed

[2020-06-07 05:42] #872 closed

[2020-06-08 06:58] OverPie opened #922 "Cannot build "boost""
Log:
[code]

[2020-06-08 07:28] dylanaraps commented on #922
@cemkeylan

@OverPie You can find the maintainer to a package by using `kiss maintainer`:

[code]

[2020-06-08 08:59] #922 closed

[2020-06-11 19:50] mcpcpc opened #932 "sx: build fail"
**Issue**:
build fails.

**Log**:
`kiss b sx`: https://clbin.com/01LAr

**Resolution**:
Per IRC, remove `make` from build file

[2020-06-11 20:20] dylanaraps commented on #932
@periish

[2020-06-11 20:31] periish commented on #932
Will be closed by #934.

[2020-06-11 20:52] #932 closed

[2020-06-12 07:10] Vouivre opened #936 "Sane: use scanner in KISS"
Hello,

I need to build `sane` to use my scanner. After building it, the size is 20Mb. If I build it only for my scanner, I can shrink the package size to less than 1 Mb. For me it would be enough.

Is somebody interested with this package ? If nobody is interested by this package at the moment, I think it would be a good point to have it in community for some users later. I could maintain this pa

[2020-06-13 06:13] konimex commented on #936
You can post the `build` file here, if someone's interested. If no one's interested *now* but someone is interested *later*, they can refer to this issue.

[2020-06-14 11:49] sdsddsd1 opened #937 "curlpp: depends fix"
@djt3 Cmake is just a make dependency for curlpp. [Arch](https://aur.archlinux.org/packages/libcurlpp/) [Alpine](https://git.alpinelinux.org/aports/tree/testing/curlpp/APKBUILD)

`depends`
cmake make
curl

[2020-06-14 18:26] sdsddsd1 opened #938 "strace: missing dependency: linux-headers"
@a-schaefers `linux-headers` is a make dependency for strace.

[2020-06-15 10:31] djt3 commented on #937
thanks for letting me know, it looks like i also forgot to add cmake as a dependency for tuitube

[2020-06-15 12:03] #937 closed

[2020-06-15 14:12] Vouivre commented on #936
Ok, so I will finish this package and I will refer to it on my own repository. I have opened an issue in `sane`. When it's resolved, I will make my `build` file available.

[2020-06-15 17:37] #938 closed

[2020-06-19 06:17] Vouivre commented on #936
The issue I had with `sane` has been fixed upstream. After thinking about it, I find it easier for a new user to find `sane` in community than searching in the issues. I'm not sure I would search in the issues. So I have created a PR https://github.com/kisslinux/community/pull/948.

Thank you for your feedback!

[2020-06-19 06:17] #936 closed

[2020-06-27 02:39] xzcvczx opened #964 "qemu 5.0.0 2 build error"
@jedavies-dev

ERROR: sizeof(size_t) doesn't match GLIB_SIZEOF_SIZE_T.
       You probably need to set PKG_CONFIG_LIBDIR
       to point to the right pkg-config files for your
       build target

[qemu-2020-06-27-13:14-2408.txt](https://github.com/kisslinux/community/files/4839860/qemu-2020-06-27-13.14-2408.txt)

had 5.0.0 1 installed with no problems, issue confirmed by micr0

[2020-06-27 18:55] jedavies-dev commented on #964
Interesting - just tried rebuilding this and it works OK for me on my normal KISS installation.  Also tried this from a clean chroot (starting from the release tarball, add community repo, do "kiss b qemu").  Did this on powerpc64le and x86_64.  Package built OK in each case.

Have you updated glib recently?  There was a change to glib to enable building of static libraries that qemu now depends o

[2020-06-27 18:59] xzcvczx commented on #964
i was doing a kiss update when it failed to build so glib is up to date

[2020-06-27 19:38] xzcvczx commented on #964
ok after rebuilding/installing glib it now works, closing

[2020-06-27 19:38] #964 closed

[2020-06-30 14:57] quisys opened #972 "qt5 fails to build"
Here are the [logs](http://sprunge.us/XlFTu7)

[2020-06-30 15:05] dylanaraps commented on #972
You should really mention the maintainer of the package so that they can be notified.... @dilyn-corner

Here's the actual error:
[code]

[2020-06-30 15:06] dylanaraps commented on #972
There have been multiple discussions on this issue in IRC as well: https://freenode.logbot.info/?ch=kisslinux&q=is+not+valid

[2020-06-30 15:24] dilyn-corner commented on #972
Based on all the conversations that have happened surrounding this bug (which is what I think it amounts to), we have a couple choices:
1) Eliminate the UIC generation entirely (no thank you)
2) Distribute a pre-built file (I'd rather avoid hijacking the build system for a single file)
3) Have affected users install `icu`
4) Build qt5-base from source without `kiss`

3) is the easiest option, and

[2020-06-30 15:45] dylanaraps commented on #972
@dilyn-corner Do you by any chance have the version number of the working `kiss` package manager? I have a hunch as to what *may* be causing the issue though it's a stretch.

[2020-06-30 15:45] quisys commented on #972
installing icu fixed it - maybe add it as a dep? just a thought, it looks like new kiss installs are affected

[2020-06-30 15:53] dylanaraps commented on #972
Well, we're somewhat reluctant to go adding random dependencies to packages (in the general sense). I'd much rather we figure out what causes the build to fail and fix the problem at the source. Adding ICU as a dependency should be a last resort though I think this decision should be ultimately up to @dilyn-corner. I don't mind either way which solution is chosen.  :+1:

[2020-06-30 16:01] dilyn-corner commented on #972
@dylanaraps as far as my own testing goes, building seems to work on kiss 1.9.0 and earlier.

@quisys I have considered adding it as a dependency. Unfortunately it doesn't seem required outside of solving this bug, which as far as I'm aware is not effecting every user.
If it ends up that more people are having issues, I would probably make it a dependency. But that's mainly as a last resort. If Dy

[2020-06-30 16:14] dylanaraps commented on #972
I fail to see how the package manager could have any involvement in this issue short of *possible* extraction issues. Are the permissions, access time, modified time, ownership, etc of the files identical between package manager versions? This is the only way for the package manager to have an affect on the build itself (in this case).

The reason I'm led here is that I've seen build failure due t

[2020-06-30 16:15] dylanaraps commented on #972
It also interests me to find out *why* ICU being present avoids (or fixes(?)) this issue. It's rather odd.

[2020-06-30 16:31] sdsddsd1 commented on #972
I can also throw in that the binary packages provided [here](https://github.com/dilyn-corner/KISS-kde/releases/download/3.0.4/qt5.5.15.0-1.tar.gz) require icu to build related qt5-packages, altough `icu` is not listed as depends by kiss.

[2020-06-30 16:39] dylanaraps commented on #972
@dilyn-corner If you think it's reasonable, we could also open an issue upstream about this. If only to gain better insight into what's going on. Trying to make sense of the qt5 sources is well.... difficult.

[2020-06-30 17:31] dilyn-corner commented on #972
@dylanaraps I also have no clue how the package manager could screw it up - I built `qt5` exactly identically to how `kiss` would do it and had zero issues.
I just cheched though and you might be onto something with date issues? At the very least, some of these files are dated for 12/31/1969 - which certainly isn't five minutes ago when I extracted the archive. Most notably, ever single file in sr

[2020-06-30 17:36] dylanaraps commented on #972
If you amend the dates (via `touch` possibly), does the build work?

[2020-06-30 17:40] dylanaraps commented on #972
A lot of files seem to have incorrect permissions: ```
drwxr-xr-x    5 dylan    dylan          180 Jun 30 20:08 ./util/unicode
-rw-r--r--    1 dylan    dylan         2895 Jan  1  1970 ./util/unicode/README
drwxr-xr-x    3 dylan    dylan           60 Jun 30 20:08 ./util/unicode/codecs
drwxr-xr-x    2 dylan    dylan          120 Jun 30 20:08 ./util/unicode/codecs/big5
-rw-r--r--    1 dylan    dylan

[2020-06-30 17:41] dilyn-corner commented on #972
That is actually digusting.

Is it too late to drop qt just out of spite and pettiness

[2020-06-30 17:41] dylanaraps commented on #972
This issue seems to be in the tarball itself:

[code]

[2020-06-30 17:45] dylanaraps commented on #972
Huzzah! The dates are normal when using a different tar implementation. Busybox tar is to blame for the incorrect dates.

[code]

[2020-06-30 17:47] dilyn-corner commented on #972
Absolutely incredible.
I'd rather not require `libarchive` to build `qt5` but a make dependency is better than a runtime dependency.
Can you think of a way around this without doing that?

[2020-06-30 17:48] dylanaraps commented on #972
We must first confirm that correct dates equate to a successful build. I'll also look into fixing busybox tar. :+1:

[2020-06-30 17:51] dilyn-corner commented on #972
Trying it out now :+1:

[2020-06-30 18:02] dylanaraps commented on #972
The permissions can also be retained by swapping to the `zip` source (http://download.qt.io/official_releases/qt/5.15/5.15.0/submodules/qtbase-everywhere-src-5.15.0.zip). Keep in mind that this drops everything into a subdirectory.

[2020-06-30 18:40] dilyn-corner commented on #972
I can't even `./configure` in the zip source :thinking:

[2020-06-30 18:49] dylanaraps commented on #972
Are you sure the `pwd` is correct. If using the `zip` you'll have to `cd` into the subdirectory first.

[2020-06-30 18:52] dilyn-corner commented on #972
I'm talking about even outside the package manager.

[2020-06-30 18:55] dylanaraps commented on #972
Let me see if I can reproduce...

[2020-06-30 18:56] dylanaraps commented on #972
Oh god. The `.zip` file seems to be full of Windows line endings. Seems to be intended for use on Windows...

[2020-06-30 18:57] quisys commented on #972
that's a yikes

[2020-06-30 18:58] dylanaraps commented on #972
If you run `find . -type f -exec dos2unix {} +` prior to the build it should correct everything...

[2020-06-30 21:57] dilyn-corner commented on #972
The .zip source also fails

[2020-06-30 21:58] dylanaraps commented on #972
Have you tried with `libarchive` (`kiss a libarchive /usr/bin/tar`) and the `xz` source?

[2020-06-30 23:24] dilyn-corner commented on #972
It also fails with libarchive tar.

[2020-07-03 07:29] dylanaraps opened #980 "Outdated Packages"
These packages are currently out of date, the number has once again grown to a  level I'm not entirely pleased with. Let's reduce this number! If you are unable to update your packages due to offline circumstances, please let me know and I will temporarily take over maintenance of your packages.

- [ ] `bind` @aicsx
- [ ] `btrfs-progs` @aicsx
- [ ] `bitfetch` @bit9tream
- [x] ~~`caddy` @onodera-pu

[2020-07-03 07:37] a-schaefers commented on #980
Shadow is not outdated. Thanks.

On Fri, Jul 3, 2020, 12:29 AM dylan <notifications@github.com> wrote:

[2020-07-03 07:41] dylanaraps commented on #980
You would be correct, apologies.

[2020-07-03 08:11] konimex commented on #980
Please note that `icu` is needed by `harfbuzz-icu`, which in turn is needed by `webkit2gtk`. @cemkeylan may want to maintain these.

[2020-07-03 08:32] cemkeylan commented on #980
Hmm, I would like to order

- `{harfbuzz-,}icu`
- `nano`
- `isync`
- `nmap`

[2020-07-03 08:39] cemkeylan commented on #980
I can also take `libnl`.

Also, you forgot to mark `nano`

[2020-07-03 08:40] dylanaraps commented on #980
Nothing seems to depend on `libnl`. It should be fine to drop entirely if you like.

[2020-07-03 08:44] cemkeylan commented on #980
Oh, I have packages that depend on my repository, but I also have `libnl` on my core repository. If no packages depend on it on community, I think it can be dropped.

[2020-07-03 09:36] sdsddsd1 commented on #980
somehow related: opusfile has lived, and will live on in kiss-games.

[2020-07-03 09:39] dylanaraps commented on #980
Feel free to adopt `opusfile` in Community if you like. :+1:

[2020-07-03 09:50] sdsddsd1 commented on #980
Since nothing depends on it and I dont have a usecase for it than for the game repo, I feel better when it lives there.

[2020-07-03 10:04] onodera-punpun commented on #980
What root setter do you use @dylanaraps?

[2020-07-03 10:04] onodera-punpun commented on #980
I'd like to adopt `transmission`.

[2020-07-03 10:05] dylanaraps commented on #980
@onodera-punpun `xsetroot` in `kisslinux/repo/xorg/xsetroot`. I also use `imagemagick`'s `display` for setting images as the wallpaper though it's been over a month since I've used even this. I merely set a color as the background nowadays.

[2020-07-03 10:06] onodera-punpun commented on #980
Then I'd like to adopt `setroot` as well.

[2020-07-03 10:08] dylanaraps commented on #980
Simply send a pull request identical to #981 to transfer ownership. :+1:

[2020-07-03 13:01] kiedtl commented on #980
I'm currently unable to update my packages as my KISS laptop seems to have finally breathed its last. I'm looking into getting another machine, but in the meantime I can't do anything.

[2020-07-03 13:03] kiedtl commented on #980
I'd definitely appreciate it if someone temporarily took maintainership of my packages -- I'll try to get back to them as soon as possible.

[2020-07-03 15:25] dylanaraps commented on #980
Hello @kiedtl, as mentioned in my email to you roughly 2 weeks ago, you should be able to update your packages from a KISS chroot (*which works under any Linux distribution*). This is of course assuming that you have another device running a Linux distribution. If this is not the case, I'm happy to adopt your packages until you are able to once again.  Let me know. :+1:

[2020-07-03 17:18] Himmalerin commented on #980
About to send in a PR for mercurial.

For youtube-dl I wrote a [custom build file](https://github.com/Himmalerin/kiss-himmalerin/blob/master/modified/youtube-dl/build) since I didn't like what the existing one was doing. I'm willing to maintain it using my build file or you can drop it and use the -git version

[2020-07-03 19:00] dylanaraps commented on #980
@Himmalerin Sure, happy to use your build file. :+1:

[2020-07-03 23:46] DevonMorris commented on #980
@dylanaraps I put up a PR for `mit-scheme` sorry for letting that get behind

[2020-07-04 07:46] dylanaraps commented on #972
It looks like we'll have to add `icu` as a dependency sadly. Although this page seems to suggest that qt5 does not use icu? https://wiki.qt.io/Qt_5_ICU

[2020-07-04 13:18] dilyn-corner commented on #972
"This plan has been abandoned" genius.
I would be furious if there were undocumented options.

Expect a pull-request some time this weekend either way!

[2020-07-06 13:35] #972 closed

[2020-07-07 09:48] cemkeylan commented on #980
Since nobody is asking for it, I can maintain `pandoc` as well.

[2020-07-07 11:29] aicsx commented on #980
I apologize, health problems, I will try to update them as soon as possible

[2020-07-07 11:43] dylanaraps commented on #980
No problem. Take all the time you need. Let me know if you'd like me to take over maintenance for the time being.

[2020-07-07 18:26] IslandAlpha commented on #980
I can take `zathura-pdf-mupdf` and `libmupdf` (which I think is what you meant by mupdf, mupdf the application isn't in the repos). I already have a good amount of the deps for these packages anyways.

[2020-07-07 18:41] dylanaraps commented on #980
Thanks!

[2020-07-07 21:16] Vouivre commented on #980
I could be interested by `youtube-dl`. Why would you prefer to keep only a git package ?

[2020-07-07 21:21] dylanaraps commented on #980
@Vouivre It sees rather frequent updates. If you're using the `-git` package you're likely to only update it when the sites you use break in the current version (but are likely fixed in git master). I'm fine either way. If you'd like to adopt it, go for it.

[2020-07-07 22:27] Himmalerin commented on #980
My Kiss system is currently down so I'm in no position to take over maintaining it, if you're interested in using my build file instead of the current one feel free!

[2020-07-08 11:53] Vouivre commented on #980
If nobody else is interested by maintaining `youtube-dl`, I can try. I'm not sure for the moment I will be able to keep it up to date if the updates are coming every three days. Otherwise it should be ok.

[2020-07-08 16:07] jedavies-dev opened #1002 "netsurf-fb build issue"
Thanks for packaging this, have been missing netsurf!

However I get a build failure, since it calls xxd during the build and I didn't have this installed. Needs vim as a build dep?

[2020-07-08 16:09] dylanaraps commented on #1002
Maintainer: @sdsddsd1

[2020-07-08 16:44] sdsddsd1 commented on #1002
Apollogies. I have added a standalone xxd.

[2020-07-08 16:45] #1002 closed

[2020-07-09 15:20] djt3 commented on #980
you can put me down as the maintainer for xwallpaper, ill be using kiss for the foreseeable future so im happy to maintain it.

[2020-07-11 07:41] Vouivre commented on #980
If it's ok for you, I created the PR https://github.com/kisslinux/community/pull/1018 to get notifications of new versions of youtube-dl.

[2020-07-11 08:22] dylanaraps commented on #980
The number of outdated packages has grown since opening this issue. Please take a look at this page: https://repology.org/projects/?inrepo=kiss_community&outdated=1

[2020-07-11 14:12] abbbi commented on #980
not sure about libpcap here, seems that site refers to the latest development version? The libpap package in kiss is based on latest release version, which is known to work correctly with the latest tcpdump release version. I dont think im going to update the library to the dev version, maybe producing some issues which tcpdump not working correctly anymore.

[2020-07-11 14:19] mcpcpc commented on #980
The `kc` package in repology is different than what is in the KISS repo

[2020-07-11 17:42] onodera-punpun opened #1023 "Boost build fails"
[code]

Seems like a trailing `/` is missing from the sed command.

[2020-07-11 19:02] dylanaraps commented on #1023
Maintainer: @cemkeylan

(Please mention the maintainer so that they are notified.)

[2020-07-11 19:22] cemkeylan commented on #1023
I'm sorry about this, pushed a fix :+1:

[2020-07-11 19:36] #1023 closed

[2020-07-12 11:08] mmatongo commented on #980
`intel-media-driver `
`libnl `

I'll take these up and a few others if they aren't picked up by tomorrow.

[2020-07-12 11:28] dylanaraps commented on #980
These were dropped yesterday. You will have to submit them as new packages. Check the git history to find them. :+1:

[2020-07-12 12:34] mmatongo commented on #980
Alright

[2020-07-12 15:22] mmatongo commented on #980
I can take over Lua as well

[2020-07-15 10:50] mmatongo commented on #980
@dylanaraps is lua unmaintained as well, cause I have a branch ready to be pushed if it is.

[2020-07-17 11:50] FriendlyNeighborhoodShane opened #1053 "Build failure for xssstate"
Maintainer: @xzcvczx

Build fails with missing header X11/extensions/scrnsaver.h, logs: ix.io/2rRl

I have xorg-server installed and working, does it need some other dependency?

[2020-07-17 11:53] xzcvczx commented on #1053
yes sorry libXScrnSaver, will do a pr in a couple of hours to add depends

[2020-07-17 11:59] FriendlyNeighborhoodShane commented on #1053
Thanks!

[2020-07-18 21:38] sdsddsd1 opened #1054 "Python modules: naming?"
I want to add qutebrowser and its dependencies to community. You can see what I want to add [here](https://github.com/sdsddsd1/kiss-s3d4).
However, I struggle with the naming for `pyqt5` `py-qt5-webengine` and `py-sip`. I have tested with kiss-outdated and the search on repology itself and the naming must be `python:pyqt5` `python:sip` and for consistency `python:pyqtwebengine`. This is pretty out

[2020-07-21 04:21] #980 closed

[2020-07-21 04:21] dylanaraps commented on #980
Thanks everyone!

[2020-07-21 04:23] dylanaraps commented on #1054
I like the way you have packaged this! With the way you have done it, I have no problems seeing it accepted into Community. I'd just double check that the `py-` packages are correctly named. :+1:

[2020-07-21 04:23] #1054 closed

[2020-07-22 11:57] danteissaias opened #1075 "go: remove bash dependency"
Although the scripts have a .bash extension they don't use any bashisms and go builds fine when running the script with busybox's `sh`, the less dependencies the better.

[2020-07-22 12:04] sdsddsd1 commented on #1075
Yo must ping the maintainer. `kiss-maintainer go` -> @konimex

[2020-07-22 12:10] dylanaraps commented on #1075
This should do it? (untested)

[code]

[2020-07-22 12:12] konimex commented on #1075
Unfortunately since `dash` is a valid `/bin/sh` alternative (and exist in `community`), and from my test earlier `make.bash` can't be run with `dash`, I'll have to reject the proposal.

[2020-07-22 12:15] danteissaias commented on #1075
That's interesting, does busybox implement some bashisms that i wasn't aware of?

[2020-07-22 12:25] dylanaraps commented on #1075
I've managed to fix the build when dash is used as `/bin/sh`. The only bashisms in the `make.bash` file are two occurrences of `==` when they should be `=`.

`dash` errors here:

[code]

These lines are:

[code]

These are the only occurrences of `==` in the file so it's easy to fix.

[code]

 New patch:
[code]

[2020-07-22 12:30] konimex commented on #1075
The error I got during build (w/ dash) is `type -ap`, from [this line](https://github.com/golang/go/blob/11f92e9dae96939c2d784ae963fa7763c300660b/src/make.bash#L157) since `type(1p)` doesn't recognize *any* options.

[2020-07-22 12:47] dylanaraps commented on #1075
Should be good with this. It builds fine on my end:

[code]

[2020-07-22 16:20] #1075 closed

[2020-07-29 16:20] axpira opened #1090 "Build failed for neovim"
[neovim-2020-07-29-13:12-5546.log](https://github.com/kisslinux/community/files/4996074/neovim-2020-07-29-13.12-5546.log)
=== configuring in doc (/root/.cache/kiss/build-5546/neovim/.deps/build/src/gperf/doc)
configure: running /bin/sh ./configure --disable-option-checking '--prefix=/root/.cache/kiss/build-5546/neovim/.deps/usr'  'MAKE=/usr/bin/make' 'CC=/usr/bin/cc' 'CXX=/usr/bin/c++' 'LD=/usr/bi

[2020-07-29 16:36] ioraff commented on #1090
@dylanaraps has since taken over maintenance of this package.

[2020-07-29 17:25] dylanaraps commented on #1090
The error itself:

[code]

[2020-07-29 17:34] dylanaraps commented on #1090
It's trying to execute a command which is... nothing ` "" ""`. This causes the "permission denied" error.

[2020-07-29 17:41] dylanaraps commented on #1090
This is generated by the build system : ```
build build/src/libvterm-stamp/libvterm-configure: CUSTOM_COMMAND build/tmp/libvterm-cfgcmd.txt build/src/libvterm-stamp/libvterm-update build/src/libvterm-stamp/libvterm-patch
  COMMAND = cd /tmp/build-4767/neovim/.deps/build/src/libvterm && "" "" && /usr/bin/cmake -E touch /tmp/build-4767/neovim/.deps/build/src/libvterm-stamp/libvterm-configure
  DESC

[2020-07-29 18:29] dylanaraps commented on #1090
OK. Turns out this is caused by newer versions of CMake. Will push the fix shortly.

[2020-07-29 18:32] dylanaraps commented on #1090
https://github.com/neovim/neovim/pull/12676

[2020-07-29 18:35] #1090 closed

[2020-08-01 19:36] sdsddsd1 opened #1096 "qt5-webengine: build failure because of bison 3.7"
@dilyn-corner
Qt5-webengine fails to build with the following. I have produced this error on 2 indepented KISS instalations...ohoh.
[code]

Edit: Ah nice, this seems to be an error with bison 3.7 [gentoo bug](https://bugs.gentoo.org/734356)
Edit2: Theres also a missing dependency for `perl`
Edit3: Qt related: My falkon runs fine without `qt5-x11-extras`, is it really needed?
Edit4: `bison 3.7.1` d

[2020-08-02 00:51] sdsddsd1 commented on #1096
The bug was reported at Qt upstream. [click](https://bugreports.qt.io/projects/QTBUG/issues/QTBUG-85835?filter=allissues).
The patch provided there works for me in this sed:
`sed -i '/os.unlink(outputHTmp)/d' src/3rdparty/chromium/third_party/blink/renderer/build/scripts/rule_bison.py
`

[2020-08-02 16:33] dilyn-corner commented on #1096
Thanks for pointing all these things out - I've been on vacation, but I'll start looking into all these things and pushing changes tomorrow!

[2020-08-02 22:00] periish opened #1099 "maim build failure"
maim fails to build due to missing glm/glm.hpp headers
[code]

[2020-08-02 22:06] periish commented on #1099
This build failure can be fixed in the same way as slop's is, by including glm in the sources.

[2020-08-02 22:08] dylanaraps commented on #1099
@onodera-punpun

[2020-08-02 22:14] periish commented on #1099
Update: Seems like maim doesn't use the GLM_INCLUDE_DIR variable. More effort may be needed.

[2020-08-03 07:05] dylanaraps opened #1100 "usbutils build fail (bad sed command)"
The `sed` command in the build file is missing a single `/`.

@trbednarzyk

[2020-08-03 07:06] dylanaraps opened #1101 "gc cannot download source"
Source fails to download due to SSL/CA cert issues.

@trbednarzyk

[2020-08-03 13:53] dilyn-corner commented on #1096
What I've found:
`qt5-webengine` does in fact fail to build, and adding the provided sed line does indeed fix it.
`qt5-webengine` does not seem to require `perl` to build? Although `qt5-x11extras` does. I've added it.

`falkon` definitely fails to both build AND run without `qt5-x11extras` installed, on my end at least. At the very least it's a make dependency, and `falkon` seems to link to some l

[2020-08-03 14:27] sdsddsd1 commented on #1096
My build of `qt5-webengine` failed very far in the build because of missing `perl`.
Falkon: I am running X11 but I had without knowing forked the `falkon` package with the option `-DNO_X11=ON`.
It runs just fine. Funny.

[2020-08-03 14:54] dilyn-corner commented on #1096
OF COURSE the failure would happen near the end. Why wouldn't it. I'll set it up right now and I'll know in a few hours, then. Although nowhere else seems to list perl as a make dependency for it, we will know soon enough.

I wonder then what `falkon` uses those libs for. I'll have to look into it and see.

[2020-08-03 15:12] sdsddsd1 commented on #1096
I will test the falkon modification on my KDE machine. I have some windowdecoration in mind.

[2020-08-03 23:10] #1100 closed

[2020-08-03 23:18] trbednarzyk commented on #1101
Interestingly, only `curl` has this issue. I was able to download the file with `wget` without any issue. Firefox also doesn't seem to have this issue when browsing the site.

I could change the source from https://hboehm.info/gc/gc_source/ to https://github.com/ivmai/bdwgc to get around this issue.

Thoughts?

[2020-08-04 06:19] dylanaraps commented on #1101
If it's the same project :+1:

[2020-08-04 13:32] illiliti opened #1105 "libusb: remove eudev dependency"
Udev is not hardcoded dependency and can be disabled using --disable-udev

@trbednarzyk

[2020-08-05 05:20] #1105 closed

[2020-08-05 05:21] #1101 closed

[2020-08-05 07:47] #1096 closed

[2020-08-06 01:45] sdsddsd1 opened #1113 "gdb: missing dependecy: linux-headers | Also up for adoption"
@icyphox : gbd fails to build without `linux-headers`.

[2020-08-11 07:11] dylanaraps commented on #1053
Ping @xzcvczx

[2020-08-18 01:11] a-schaefers opened #1135 "Adopt the whole GNU Stack and more..."
So, this offer is all-or-nothing. I'll keep maintaining it if I have to, but I've been quite busy and it'd be nice if someone took this opportunity to maintain some serious KISS packages and lighten my load. Not looking to adopt out 1 or 2 packages. For whatever-it's-worth, this stack of software can even look good on a job resume, and was a part of my resume when I was applying for my first job i

[2020-08-18 15:19] periish commented on #1135
Oh my. I'll have to consider this.

[2020-08-18 16:02] a-schaefers opened #1136 "Dropping pkgs: lux, gauche, nawk-git, expect"
Adopt if desirable,

~lux~
~gauche~
nawk-git
expect

[2020-08-18 18:52] periish commented on #1136
I’d be happy to take on Lux and Gauche.

[2020-08-19 22:20] a-schaefers commented on #1136
Just open a PR adding an extra space to the version file and they're yours.

[2020-08-21 14:41] periish opened #1141 "Replace readline with editline"
[editline](https://github.com/troglobit/editline) is a smaller, more permissive replacement for `readline`, with a compatibility layer.
Furthermore, editline has no external dependencies; unlike readline, which has a dependency on ncurses.

The only packages which depend on readline are `ncmpcpp` and `pcre2`, maintained by @onodera-punpun. Readline itself is maintained by @a-schaefers.
I have an e

[2020-08-21 16:00] depsterr opened #1142 "Dropping ghc-bin, TLP and xbacklight"
I'm no longer using a kiss derivative so I'm not going to maintain any builds. ghc-bin is currently one minor version out of date, to my knowledge TLP and xbacklight are both up to date.

[2020-08-24 12:09] FriendlyNeighborhoodShane commented on #1053
That's cool with me. Looks like a 0-maintainance package right now :P

[2020-08-24 15:14] onodera-punpun commented on #1141
I remember I using editline with ncmpcpp a year or so ago, and back then it would break the program. Not sure if this is still the case though, Just something to keep in mind.

[2020-08-24 16:48] periish opened #1150 "libcap build failure"
libcap fails to build, with an error message of `indent: Command line: unknown parameter "-kr"`.
@a-schaefers

[2020-08-25 07:06] eudaldgr opened #1151 "bubblewrap build failure with libXslt"
If someone try to build `bubblewrap` when `libXslt` it's installed they try to build man-pages with `docbook-xsl`, which cannot be found in the repositories.

Substitute
[code]
with
[code]
@mmatongo

[2020-08-25 07:46] mmatongo commented on #1151
Pushed a commit o fix this, thanks.

[2020-08-25 08:07] FriendlyNeighborhoodShane commented on #1053
Closed. Thanks me!

[2020-08-25 08:07] #1053 closed

[2020-08-25 22:02] onodera-punpun opened #1155 "Dropping package: gnuplot"
Anyone wants to take this package over?

[2020-08-25 23:56] a-schaefers commented on #1150
Can anyone else confirm this is true? I thought I test stuff.

[2020-08-26 08:16] dylanaraps commented on #1150
I can reproduce.

[code]

[2020-08-26 08:22] #1155 closed

[2020-08-26 08:27] #1113 closed

[2020-08-26 08:27] #1151 closed

[2020-08-26 11:34] mmatongo commented on #1142
I will take ghc-bin and tlp

[2020-08-26 17:06] a-schaefers commented on #1135
Last call before I release them to the wild

[2020-08-27 00:16] quisys opened #1159 "qutebrowser fails to fetch files"
Kiss output: http://sprunge.us/50DMLc

[2020-08-27 00:52] sdsddsd1 commented on #1159
You should mention mention the maintainer with "@email" retrieved through `kiss maintainer $pkg`. Its me (: .
Can you upload to a different pastebin? I somehow can not open this.

[2020-08-27 20:38] #1159 closed

[2020-08-28 05:20] Vouivre commented on #1135
I need some of them, but at the moment I can't take all of them. I will rather take some of them after you have drop all those packages.

[2020-08-28 22:32] a-schaefers opened #1165 "Dropping packages: Gnu stack and more"
It has been fun, but life and work is getting the way of being able to maintain this, so first come first serve. Open a PR adding a space to the end of the 'version' file to claim your package(s), and reply here so I can cross off the list.

~bc~
~coreutils~
~dash~
~diffutils~
~ed~
~emacs
emacs-git
emacs-nox~
expect
findutils
~gawk~
gnu-netcat
~gnugrep~
~gnupg2~
~gnutls~
~gtar
iproute2
iptables
ip

[2020-08-28 22:33] #1135 closed

[2020-08-29 00:54] dilyn-corner commented on #1165
I'll probably take a couple; some of these are needed for KISS-kde. I'll take a closer look later.

[2020-08-29 10:31] magenbluten commented on #1165
i have interest / need the following packages and could take over maintenance:

- mksh
- iproute2
- openvpn
- iptables
- strace
- maybe: iputils
- maybe: sed

[2020-08-29 12:24] periish commented on #1165
I'll take lzip, readline, ed, dash, bc, patch, gnugrep,  and gnupg2.

[2020-08-29 13:02] periish commented on #1165
Update: #1167 is my PR.

[2020-08-30 14:52] periish opened #1171 "htop build failure"
The source returns 404.

[2020-08-30 17:59] a-schaefers commented on #1165
Open a PR claiming them as yours or I can't cross them off the list.

[2020-08-30 18:00] #1136 closed

[2020-08-30 19:14] onodera-punpun opened #1172 "htop: Update to active fork"
This one is for @dylanaraps.

Htop forked to htop-dev, and version 3.0.0 released with over 2 years of bug fixes and features, more info: https://groups.io/g/htop/topic/htop_3_0_0_released/76441967

[2020-08-30 19:15] onodera-punpun commented on #1171
Probably related to https://github.com/kisslinux/community/issues/1172

[2020-08-30 19:54] cemkeylan commented on #1165
Wow, I am seeing we are having a buffet once again! I would like to order

- Coreutils
- Emacs* and dependencies
- gnutls and dependencies
- libxaw3d
- wget

[2020-08-30 21:24] cemkeylan commented on #1165
Okay, here is the full list of packages I have taken:

- coreutils
- diffutils
- emacs*
- gawk
- gnutls
- libxaw3d
- nettle
- pciutils
- procps-ng
- wget

[2020-08-30 21:40] a-schaefers commented on #1165
Thanks @periish and @cemkeylan , list updated.

[2020-08-31 06:30] dylanaraps commented on #1172
Yeah. Am aware. Been waiting on: https://github.com/htop-dev/htop/issues/31

[2020-08-31 06:59] #1172 closed

[2020-08-31 07:00] #1171 closed

[2020-08-31 07:48] Necromantic-Ritual opened #1175 "sbase/ubase checksum mismatch"
Hi, I'm getting a checksum mismatch when attempting to build both sbase/ubase.

`kiss b sbase`
`-> Resolving dependencies`
`-> Building: sbase`
`-> sbase Checking repository files`
`-> Checking for pre-built dependencies`
`-> sbase Downloading sources`
`-> sbase Found local relative source 'patches/tar-dash-remove.patch`
`-> sbase Checksum mismatch`
`ERROR Checksum mismatch with: sbase`

[2020-08-31 07:49] dylanaraps commented on #1175
Please mention the maintainer when submitting issues.

[code]

@cemkeylan

[2020-08-31 07:51] Necromantic-Ritual commented on #1175
No worries, will do in the future.

[2020-08-31 07:53] cemkeylan commented on #1175
I don't have any issues, is this because of the checksums behaviour change
@dylanaraps ?

[2020-08-31 07:54] dylanaraps commented on #1175
@cemkeylan It could be related to that, yes. The only issue I see is that I explicitly tried to make this backwards (or forwards(?)) compatible.

[2020-08-31 07:55] dylanaraps commented on #1175
Will push a fix in a few minutes. :+1:

[2020-08-31 07:56] cemkeylan commented on #1175
When I am doing with upstream kiss, it says checksum mismatch, when I am doing with my fork it doesn't. I should update the checksums anyway.

[2020-08-31 07:57] dylanaraps commented on #1175
Fixed here: https://github.com/kisslinux/kiss/commit/3b251b96b6939895a2534b7a1e14efa613f0d288

[2020-08-31 07:57] cemkeylan commented on #1175
Okay, it works now, should I update the checksums regardless?

[2020-08-31 07:59] dylanaraps commented on #1175
No. It's fine. Pushed a new package manager release.

[2020-08-31 07:59] #1175 closed

[2020-08-31 08:01] dylanaraps commented on #1175
If you decide to follow the same checksum changes, these checksums will over time match the new scheme whenever the checksums are updated. The KISS package manager supports both formats rather easily so there's no rush. I foresee us living in this transition period for some time. :+1:

The scheme is just:

[code]

- Git sources are skipped.
- Directory sources are skipped.

[2020-08-31 14:21] dilyn-corner commented on #1165
@periish might also want to talk `libassuan`, `libgcrypt`, and `libgpg-error` (all are required by `gnupg2`).
@aicsx or @mmatongo might want `libcap`.
Otherwise, I'll take the aforementioned.

[2020-08-31 14:24] dilyn-corner opened #1177 "Imagemagick requires pkgconf"
@dylanaraps make dep to find e.g. `libpng`

[2020-08-31 14:50] mmatongo commented on #1165
I'll take lipcap

[2020-08-31 17:46] periish commented on #1165
Will you fix #1150?

[2020-08-31 18:01] mmatongo commented on #1165
Let me get on it now

[2020-08-31 18:11] mmatongo commented on #1150
It builds just fine for me, both v`2.42` and v`2.43`

[2020-08-31 18:32] dylanaraps commented on #1150
Fixed this just now. Patch: ```patch
diff --git a/community/libcap/build b/community/libcap/build
index 101947d..0e9cde9 100755
--- a/community/libcap/build
+++ b/community/libcap/build
@@ -1,5 +1,8 @@
 #!/bin/sh -e

+# Fix build when indent found in path.
+sed -i 's/which indent/false/g' Make.Rules
+
 mk() {
     make \
         GOLANG=no \

~
[code]

[2020-08-31 18:33] cemkeylan commented on #1150
This is because of baseutils `indent`, if you remove it, it will build just fine. I have had this issue before but forgot to post it here.

[2020-08-31 18:34] periish commented on #1150
I shouldn't have baseutils installed. Hm.

[2020-08-31 18:36] cemkeylan commented on #1150
This can be fixed on the Makefile by doing `make INDENT=true`

[2020-08-31 18:38] cemkeylan commented on #1150
The issue is that it is looking for GNU indent, I didn't look deep into it back then :D

[2020-08-31 20:01] mmatongo commented on #1150
I will make changes to the build file and incorporate the above, the ISP I use for my WiFi isn’t playing well with github right now so I’ll most likely do this tomorrow.

[2020-08-31 23:02] onodera-punpun commented on #1165
I can take:

* libgcrypt
* libgpg-error
* lzo

[2020-09-01 06:33] dylanaraps commented on #1165
lzo has already been adopted. @onodera-punpun

See: https://github.com/kisslinux/community/pull/1174/files

[2020-09-01 08:46] mmatongo opened #1185 "htop failing to build"
Was trying to update `htop`earlier today and the build failed

[code]

[2020-09-01 08:48] dylanaraps commented on #1185
Ah, you have libexecinfo right?

[2020-09-01 08:49] dylanaraps commented on #1185
I'm inclined to stop accepting issues for libexecinfo for the same reasons we don't allow it in the official repositories or community...

[2020-09-01 09:00] mmatongo commented on #1185
Yes I have it installed, it's coming from my personal repo.
I cant install it oddly enough because it seems
[code]

[2020-09-01 09:02] dylanaraps commented on #1185
Yes. Software will unconditionally pull it in if it finds it in the system.

[2020-09-01 09:03] dylanaraps commented on #1185
This is a glibc feature hacked together for use outside of glibc either via code directly pulled from glibc or written from scratch.

[2020-09-01 09:04] dylanaraps commented on #1185
To remove it:

[code]

[2020-09-01 09:08] mmatongo commented on #1185
Ahh I see.

That is annoying.

Thanks.

[2020-09-01 09:17] dylanaraps commented on #1185
I'm still wondering why you have it installed, did anything require it? It should be trivial to patch out if this is the case.

[2020-09-01 09:26] mmatongo commented on #1185
It was a make dependency for `shadowsocks-libev`(and a few of its depends) and `redshift` if I remember correctly.
I forgot to remove after I was done with it.

[2020-09-01 09:28] mmatongo commented on #1185
This didn’t really occur to me at the time as it seemed easier and faster to just build the package.

[2020-09-01 09:30] dylanaraps commented on #1185
Anyway. I'll be closing this as we shouldn't work around issues like this one as we don't support these libraries.

[2020-09-01 09:30] #1185 closed

[2020-09-01 09:36] mmatongo commented on #1185
Won’t happen again

[2020-09-01 09:42] dylanaraps commented on #1185
Don't worry about it. :)

[2020-09-01 11:56] #1177 closed

[2020-09-01 12:18] #1142 closed

[2020-09-01 12:48] #1150 closed

[2020-09-01 14:57] xaverh opened #1191 "build failure in maim due to missing dependencies"
Currently maim fails to build:
Installing `libXcomposite` and `icu` solves the problem.

[code]

[2020-09-01 15:01] dylanaraps commented on #1191
Only libXcomposite is required. ICU is optional.

[2020-09-01 15:01] dylanaraps commented on #1191
Please mention the maintainer of the package when opening issues:

[code]

@onodera-punpun

[2020-09-01 15:47] a-schaefers commented on #1165
#1174 thank you @magenbluten

[2020-09-01 15:49] a-schaefers commented on #1165
Thank you also @onodera-punpun & @mmatongo

list updated

[2020-09-03 07:14] #1191 closed

[2020-09-08 15:59] periish commented on #1141
Seems like this issue is a bust then. Readline stays, as neither alternative seems to work as a replacement :/

[2020-09-08 15:59] #1141 closed

[2020-09-09 09:43] dylanaraps commented on #1165
Last orphans:

[code]

@periish libassuan, npth and pinentry are around solely for gnupg2 which is one of your packages, care to adopt these?

I will adopt the remainder of the packages.

[2020-09-09 09:48] dylanaraps opened #1224 "pinentry missing dependency on libassuan and libgpg-error"
Maintainer still to be decided #1165

[code]

[2020-09-09 09:49] dylanaraps opened #1225 "libassuan missing dependency on libgpg-error"
Maintainer still to be decided: #1165

[code]

[2020-09-09 16:06] glats opened #1226 "btrfs-progs missing dependency on pkgconf"
After ran
[code]
Shows:
[code]

I had to built manually
[code]
Is it possible to declare it as a dependency?

Thannks!
PD: nice distro!

[2020-09-09 16:10] dylanaraps commented on #1226
Please mention the maintainer of the package when opening issues.

[code]

@aicsx

[2020-09-09 21:45] aicsx commented on #1226
yes It Is... but give me time for verification please. Thanks for report!

[2020-09-10 22:55] periish commented on #1165
I shall do so soon

[2020-09-11 06:12] Vouivre commented on #1165
Which packages will you adopt @dylanaraps  ? npth, libassuan and pinentry ?

I didn't want to adopt these, because I don't use them, I know only pinentry. But it seems they are pretty easy to maintain. So I could adopt them, so you will have more time to improve KISS :wink: . What do you think ?

If you agree, I will do the change next week.

[2020-09-11 06:41] dylanaraps commented on #1165
@Vouivre All packages have been adopted if periish takes over npth, libassuan and pinentry.

[2020-09-11 07:05] Vouivre commented on #1165
Next time I will read the whole comment.....

Ok, I'll wait for the confirmation.

[2020-09-11 17:53] jedahan opened #1232 "libcap build error"
[code]

[2020-09-11 18:05] dylanaraps commented on #1232
Mention the maintainer when opening issues:

[code]

@mmatongo

[2020-09-11 18:08] dylanaraps commented on #1232
Patch:

[code]

[2020-09-11 19:39] jedahan opened #1233 "flashrom build error"
@ioraff
[code]

[2020-09-11 22:04] dylanaraps commented on #1233
@cemkeylan pciutils doesn't include the shared library which is why this fails.

Patch:

[code]

This package also has pciutils as a make dependency when it should be runtime. Seeing as ioraff is inactive and I maintain their packages, I'll make the change needed to flashrom once the above patch is applied.

[2020-09-11 22:15] dylanaraps commented on #1233
If you'd like to do static + shared, you'll have to call make twice. :+1:

[2020-09-12 11:06] #1233 closed

[2020-09-12 14:11] mmatongo commented on #1232
I will push a commit to address this issue later today.

[2020-09-13 09:07] mmatongo commented on #1232
Pushed a fix @dylanaraps , you can close this.

[2020-09-13 16:51] #1232 closed

[2020-09-13 19:18] IslandAlpha opened #1241 "Orphaning my packages"
it isn't feasible for me to use KISS as a daily driver anymore, so I'll be dropping packages I don't need.

- [x] jbig2dec @noocsharp (waiting on adoption pr)
- [x] lcms @Vouivre
- [x] libmupdf @noocsharp
- [x] openjpeg @noocsharp
- [x] pash @dylanaraps
- [x] tor @mmatongo
- [x] wireguard-tools @GullikX
- [x] zathura-pdf-mupdf @noocsharp

I'll be keeping tcc; it's a really small and fast c99 compi

[2020-09-13 19:33] dylanaraps commented on #1241
I'll take pash .

[2020-09-14 14:21] Vouivre commented on #1241
I need lcms for cups-filters. So I will maintain it.

[2020-09-14 14:25] GullikX commented on #1241
I can take wireguard-tools.

[2020-09-14 22:56] aicsx commented on #1226
I am forced to go back to what was previously stated.  I believe the build is correct and the dependencies are respected.  Honestly, I don't think it's necessary to add addiction.  I can of course do this, but it is not an addiction to solve your specific problem.  I await further instructions from dylan, as far as I'm concerned, he's fine.

[2020-09-15 03:45] glats commented on #1226
This problem occurred in the begin of the my installation. I followed all the steps and the only difference was i choose btrfs instead of ext4. So maybe I skipped some program that bring pkgconf as dependency and that was why btrfs-prog didn't find it.

[2020-09-15 05:48] dylanaraps commented on #1226
@aicsx Just add `pkgconf make` to the `depends` file.

[2020-09-16 07:18] mmatongo commented on #1241
I'll take `tor`

[2020-09-16 16:07] noocsharp commented on #1241
I need zathura-pdf-mupdf, so I'll take it, jbig2dec, libmupdf, and openjpeg.

[2020-09-16 17:47] #1226 closed

[2020-09-18 06:27] dylanaraps commented on #1165
@periish Any update? (You also have four outdated packages: https://repology.org/projects/?maintainer=58531601%2Bperiish%40users.noreply.github.com&outdated=1)

[2020-09-19 06:31] aosync opened #1280 "pciutils: shared library isn't actually built"
Calling `mk` a second time (with SHARED=yes) does nothing because there is nothing to do.

I suggest adding `-B` to the second time `mk` is used to force making.
@cemkeylan

[2020-09-19 21:46] #1280 closed

[2020-09-20 00:38] #1241 closed

[2020-09-20 14:44] aosync opened #1283 "pciutils: libpci.so.3 links to libpci.a instead of libpci.so.3.7.0"
On my system, libpci.so.3 symlinks to libpci.a instead of libpci.so.3.7.0.

Can you reproduce? @cemkeylan

[2020-09-20 20:11] cemkeylan commented on #1283
I cannot reproduce this. The output for the readlink call:

    $ readlink -f /usr/lib/libpci.so.3
    /usr/lib/libpci.so.3.7.0

However, the Makefile for pciutils is pretty junk, and if there is no
issue on your libpci.so.3.7.0 file, I can make the build script link the
shared library manually.

aosync writes:

[2020-09-22 20:29] dilyn-corner opened #1287 "seatd has dependencies on meson, samurai"
@muevoid; two make depends please :)

[2020-09-22 21:16] muevoid commented on #1287
Will do, will be at laptop later.

[2020-09-23 01:06] konimex commented on #1287
Just `meson` as the makedepend should be enough. `meson` has a dependency on `samurai`.

[2020-09-23 11:30] #1287 closed

[2020-09-23 11:31] dylanaraps commented on #1287
Fixed here: https://github.com/kisslinux/community/commit/406fa31561a86074f5c2a9d408ce4676c9815e7e

[2020-09-23 13:31] #1283 closed

[2020-09-26 18:34] cemkeylan opened #1309 "aerc: missing manual page"
There is a missing manual page on aerc, which is causing the build to fail.
The new manpage is aerc-stylesets.7

@icyphox

[2020-09-26 18:39] cemkeylan commented on #1165
@periish @dylanaraps I can take the `gnupg2` stack since I am already maintaining those at home as well. If you would want that, of course.

[2020-09-27 12:02] dylanaraps commented on #1165
@cemkeylan npth, libassuan and pinentry are yours. gnupg2 maintainership depends on @periish though I'm really leaning towards just giving it to you. It has been out-of-date since August 27 ([2.2.22](https://lists.gnupg.org/pipermail/gnupg-announce/2020q3/000447.html), [2.2.23](https://lists.gnupg.org/pipermail/gnupg-announce/2020q3/000448.html)) and seeing as it is security focused (and one of th

[2020-09-27 12:08] dylanaraps commented on #1309
Also... I don't think this should be a git package while also shipping static manual pages. Manual pages were added Jan 15, god knows how outdated they are by now lol. This should track releases and manual pages should be updated each time (unless other solution isn't found).

[2020-09-27 15:40] eudaldgr opened #1311 "pkgconf is no longer an implicit dependency. some pkg's don't build without it."
`kmod` - @magenbluten
~~`qemu` - @jedavies-dev~~
~~`libtorrent` - @jedavies-dev~~
~~`transmission` - @onodera-punpun~~
~~`girara` - @Vouivre~~
~~`zathura` - @Vouivre~~
~~`gnutls` - @cemkeylan~~
~~`glib-networking` - @cemkeylan~~
~~`libsoup` - @cemkeylan~~
~~`poppler` - @Vouivre~~
`xcb-util-xrm` - @alaughlin
~~`alsa-plugins` - @onodera-punpun~~
~~`bind` - @aicsx~~
`conky` - @dzove855
~~`cups-filter

[2020-09-27 16:39] #1165 closed

[2020-09-27 16:39] #1224 closed

[2020-09-27 16:39] #1225 closed

[2020-09-28 05:43] dylanaraps opened #1314 "[tracker] Outdated packages."
Outdated packages has been sitting at around 30~ for a while now. Some of these packages are of more importance than others. If issues are preventing the update of packages or you do not have the time to maintain them, let me know and I'll assist you. I'm
also happy to take over maintenance for those unable to do so in the short to long term. Just let me know. :+1:

I've added notes for length out

[2020-09-28 16:45] eudaldgr opened #1316 "qemu: missing dependency pkgconf"
@jedavies-dev

[2020-09-28 22:17] cemkeylan opened #1318 "webkit2gtk build fails"
I am the maintainer, so no need to tag anyone.

Many users in the IRC, including me, reported that webkit2gtk build fails.
Since I already had the latest version built and installed already, I believe
that this is an issue related to another package that was updated/changed
after the latest webkit2gtk PR #1294 .

[2020-09-28 22:22] cemkeylan commented on #1318
@muevoid, @sdsddsd1, and @mcpcpc are having these issues, so I am tagging you as well.

[2020-09-28 22:40] muevoid commented on #1318
I fixed this issue with the following:

[code]

[2020-09-29 02:28] sdsddsd1 commented on #1318
With muevoid's fix, the package builds on my end.

[2020-09-29 04:06] dylanaraps commented on #1316
Fixed in #1317

[2020-09-29 04:06] #1316 closed

[2020-09-29 15:43] cemkeylan commented on #1318
Thank you @muevoid

[2020-09-29 16:11] muevoid commented on #1318
Np

[2020-09-29 23:13] onodera-punpun commented on #1314
repology reports dolphin-emu `5.0.12247` as being outdated, however this is the latest stable release. The versions it reports as up-to-date are wrong; `5.0` is very old, and `5.0.12595` is a development release.

[2020-09-30 04:46] dylanaraps commented on #1314
Yeah @onodera-punpun, this is why I didn't add dolphin-emu to the list (or tag you). :+1:

[2020-09-30 04:48] #1318 closed

[2020-09-30 09:45] eudaldgr commented on #1309
That can help #1325.
Remove this [line](https://github.com/kisslinux/community/blob/6a4a21df05a7b5e2d66eadb19bee83c8a96432de/community/aerc/build#L3) and add a make depends.

[2020-10-01 10:33] Jackojc commented on #1314
Submitted a PR for Kakoune. #1328

[2020-10-01 16:58] electimon commented on #1314
Submitted PR for links2 :) #1331

[2020-10-01 21:01] noocsharp commented on #1314
Given that @periish appears to be AWOL (#1165), I'd be happy to take over dash.

[2020-10-01 23:36] periish commented on #1314
Hello! I’ve been gone for a little due to the restart of my education. I should be able to upgrade my packages by Friday.

[2020-10-01 23:40] periish commented on #1314
I’ll be back soon; a personal, kiss-related project, has been a time muncher alongside my education.

[2020-10-02 04:55] icyphox commented on #1314
Hey, I no longer use KISS as my primary distro and haven't the time to
maintain any packages.  All packages under me are up for maintainership
and/or removal from the repos.

Apologies for not having done this sooner.

--
Anirudh Oppiliappan
https://icyphox.sh

[2020-10-02 06:13] dylanaraps commented on #1309
Icyphox has orphaned their packages. aerc is free to good home.

[2020-10-02 07:32] dylanaraps opened #1332 "Icyphox's packages up for adoption"
- [x] 2bwm
- [x] aerc (related #1309)
- [x] radare2 (outdated)

[2020-10-02 17:54] periish commented on #1314
Cem seems to have updated gnugrep for me, mistakenly. 1334 is my PR.

[2020-10-02 20:52] Jackojc commented on #1314
Could you cross kakoune off the list @dylanaraps ?

[2020-10-03 02:54] dylanaraps commented on #1314
@periish Feel free to take over gnugrep once again. You could also leave it to Cem, it's up to you.

[2020-10-03 11:54] periish commented on #1314
I think I'll take over gnugrep. Could you cross the now updated packages off?

[2020-10-04 13:20] mmatongo commented on #1332
I’ll take `2bwm`

[2020-10-04 20:13] eudaldgr commented on #1314
Submited a PR for `radare2` #1349

[2020-10-04 20:14] eudaldgr commented on #1332
Oops.. I made a PR for every package.

[2020-10-04 20:16] eudaldgr commented on #1309
PR made.

[2020-10-05 03:58] #1309 closed

[2020-10-05 04:04] #1332 closed

[2020-10-05 16:22] Vouivre commented on #1311
I will update my packages in the following days. I began with `cups-filters`, but it doesn't build anymore. I will first fix it.

[2020-10-05 16:27] Vouivre opened #1350 "cups-filters: missing dependency DejaVuSans"
I tried to update `cups-filters` for the missing dependency `pkgconf` (issue https://github.com/kisslinux/community/issues/1311). Unfortunately, I get the error:
[code]

A fix was provided in the `build` with

[code]

Unfortunately it doesn't work anymore. I have an idea how to fix it. I will try a patch in the following days.

[2020-10-05 17:28] dylanaraps opened #1351 "poppler fails to build when CMAKE_GENERATOR set to Ninja"
Build file hardcodes `make` when cmake should call the right tool to match the generator used. This is also mentioned in the style guide. :+1:

Fixed build:

[code]

@Vouivre

[2020-10-05 17:34] dylanaraps commented on #1350
This fixes the sed call:

[code]

There are also other build errors. One I believe is due to the use of something present in openssl but not in libressl.

[2020-10-05 21:04] aicsx commented on #1314
Sorry for the delay, I'm sorry to report that the problem is not the difficulty in build out.  Given that I have chosen to use the devel version because it works properly unlike the stable with which I had many problems, having said that, I cannot guarantee the update of always updated packages in guaranteed times.  I have serious health problems in "my brother" family and I am dealing with this d

[2020-10-06 04:21] dylanaraps commented on #1314
@aicsx Take all the time you need.

[2020-10-06 04:40] dylanaraps opened #1355 "Python packages requiring rebuilds"
Send a PR bumping the second field in the version file.

- [x] asciinema @mmatongo
- [x] py-sip @sdsddsd1
- [x] pyqt5 @sdsddsd1
- [x] pyqtwebengine @sdsddsd1
- [x] qemu @jedavies-dev
- [x] qutebrowser @sdsddsd1
- [x] youtube-dl @Vouivre

These packages require rebuild for Python 3.9.

[2020-10-06 05:08] mmatongo commented on #1355
Done

[2020-10-06 06:55] dylanaraps commented on #1314
NSS is free to any takers. Has been out-of-date since July 24. It's needed for qt5-webengine so may be of interest to @dilyn-corner. Context: https://github.com/kisslinux/community/issues/1165#issuecomment-699626418

[2020-10-06 17:04] dilyn-corner commented on #1314
I'm more than happy to maintain this horrifyingly abysmal package :) PR incoming.

[2020-10-06 17:38] dylanaraps commented on #1355
Thanks everyone.

[2020-10-06 17:38] #1355 closed

[2020-10-07 08:28] eudaldgr opened #1363 "nodejs fails to build when python is 3.9.0"
[log](https://termbin.com/l8sh0)

@dylanaraps

[2020-10-07 10:33] Vouivre commented on #1350
After applying the replacement, I get in the configure:

[code]

Why is the line beginning with ":" a valid command ? I understand a test is done, I assume, it's true and then the command is executed. But what happens in that line ?
The idea is to understand it better such that I can do it myself the next time.

For `qpdf`: it's in the dependency list. Did you have to install it manually ?

[2020-10-07 10:36] dylanaraps commented on #1350
It replaces the function call `as_fn_error` with `:` which does nothing to prevent configure from exiting with error.

You're right. My bad.

[2020-10-07 10:46] Vouivre commented on #1350
Thank you! I will rebuild `cups-filters` from scratch and close this issue if it works.

[2020-10-10 14:33] Vouivre commented on #1311
@eudaldgr How did you get this list of packages for which `pkgconf` is missing ?

For the future, if I create a new package, it's possible that I miss this dependency because it's installed by another package. I only see two solutions:

- check the build dependencies in the documentation of the software
- uninstall pkgconf and test the build

But to check for a lot of packages, I expect another me

[2020-10-10 14:46] eudaldgr commented on #1311
I have a chroot with all the main repo pkg's installed, since a lot of time for diferent purposes.
On my machine i do a remove orphans regularly, and `pkgconf` is only needed at build time, so when i see i can't install `kmod` and later update `qemu`, i take that chroot, removed `pkgconf` package and tried to install all community pkg's.

That list is not completed i do a part of the community rep

[2020-10-11 06:08] Vouivre commented on #1311
Thank you for your answer! All my packages are updated now and I will check this dependency in the future.

[2020-10-12 16:52] Vouivre commented on #1314
Hello, I want to test `nnn`. It's not the first time, but I could use it more often now. so I have to update the package. I can update to the new version if you want to. If I keep it, I could maintain it if it's ok for @lieuxnoir .

[2020-10-12 16:54] #1351 closed

[2020-10-14 01:10] muevoid opened #1390 "Webkit2gtk clang fix"
@cemkeylan these two lines fix the build on clang I have not tested on gcc however I would imagine it wouldnt cause issues with gcc.

[code]

[2020-10-14 01:13] muevoid opened #1391 "Webkit2gtk fix some bugginess"
Few things Ive found, building with MinSizeRel instead of release fixes issues on many sites for me personally. Secondly perhaps package libtasn1(id be willing to do this) and have a toggle for WEB_CRYPTO as that also fixes many sites for me.

@cemkeylan

[2020-10-14 07:12] eudaldgr opened #1392 "mutt: fails to build, it needs perl as make dependency"
Issue are autodescriptive.
[log](https://termbin.com/rrwk)
@penguin-ff

[2020-10-14 07:19] eudaldgr opened #1393 "w3m: fails to build"
[log](https://termbin.com/phipe)
@trbednarzyk

[2020-10-14 07:22] eudaldgr commented on #1393
After install `pkgconf` it builds, so i close this, and add a new line to #1311

[2020-10-14 07:22] #1393 closed

[2020-10-14 10:28] #1390 closed

[2020-10-14 10:28] #1391 closed

[2020-10-17 14:44] trbednarzyk opened #1415 "py-sip: fails to build due to missing file"
@sdsddsd1

[code]

[2020-10-17 15:12] sdsddsd1 commented on #1415
My KISS machine is currently borked (keyboard broke). We manually have to fix the `include` directory in the buildfile. I have not updated this to the latest python.
You can manually change 'python3.8' to 'python 3.9' for now. Thanks for the report.

[2020-10-17 19:56] sdsddsd1 commented on #1415
I have pushed an untested update. Please report if this fixes the issue.

[2020-10-18 19:08] trbednarzyk commented on #1415
That did indeed fix the issue so I'll close this.

[2020-10-18 19:08] #1415 closed

[2020-10-20 16:10] dylanaraps commented on #1311
Made the remaining changes. Thanks everyone.

[2020-10-20 16:10] #1311 closed

[2020-10-20 16:12] #1392 closed

[2020-10-20 16:28] #1314 closed

[2020-10-20 16:28] dylanaraps commented on #1314
Thanks everyone.

[2020-10-20 16:41] eudaldgr commented on #1311
The list are not exhaustive, maybe there is more out there, but thanks!

[2020-10-20 16:43] dylanaraps commented on #1311
Yeah... There are two options here:

1. `kiss r pkgconf` -> try to build everything in Community.
2. Wait until bug reports are opened by users.

[2020-10-21 20:04] periish opened #1427 "Dropping my packages"
- [ ] baseutils
- [x] bc @onodera-punpun
- [ ] custard
- [x] dash-shell @noocsharp
- [x] ed @dylanaraps
- [x] fzf @Vouivre
- [ ] gauche
- [ ] lux
- [x] lzip @dylanaraps
- [ ] mg
- [x] patch @dylanaraps
- [x] readline @onodera-punpun
- [ ] wmutils

[2020-10-21 23:52] noocsharp commented on #1427
I'll take dash

[2020-10-21 23:55] periish commented on #1427
Send in your PR, and it’s yours.

[2020-10-22 09:37] cemkeylan opened #1429 "Dropping packages"
These are all of my packages, send a PR if you want to have any, and link this
issue so I will be notified and mark them complete.

- [x] ~~9base~~ @dylanaraps
- [x] ~~bkeymaps~~ @dylanaraps
- [x] ~boost~ @onodera-punpun
- [x] ~~coreutils~~ @dylanaraps
- [x] ~~diffutils~~ @dylanaraps
- [x] ~~discount~~ @dylanaraps
- [x] ~~distcc~~ dropped from community
- [x] ~~emacs~~ @Vouivre
- [x] ~~emacs-nox~~

[2020-10-22 13:58] dilyn-corner commented on #1429
I'd take `sysmgr`. There are several others I need but they're required by other things in community other people maintain.

[2020-10-22 14:02] cemkeylan commented on #1429
@dilyn-corner Great, just a heads up, I have switched to the C implementation for sysmgr which is on https://github.com/cemkeylan/sm . The old shell version still lives on the same repository.

[2020-10-22 16:43] onodera-punpun commented on #1429
I can take `mpc`, `mpd`, `libmpdclient`, `boost`, `gnugrep`.

[2020-10-22 16:54] onodera-punpun commented on #1427
I'll take `readline`

[2020-10-22 16:57] onodera-punpun commented on #1427
Oh, and `bc`.

[2020-10-22 17:01] Vouivre commented on #1429
For sure I use `sxiv`. I will think about adopting other packages.

[2020-10-22 17:03] Vouivre commented on #1427
Sorry, I referenced the wrong issue.....

[2020-10-23 06:40] dylanaraps commented on #1427
I'll take lzip and patch.

[2020-10-23 08:04] Vouivre commented on #1427
I take `fzf`.

[2020-10-24 10:36] sdsddsd1 opened #1437 "Dropping qutebrowser and friends"
Dropping qutebrowser and friends, since I dont use this browser anymore.

- [ ] qutebrowser - out of date
- [ ] py-sip
- [ ] pyqtwebengine
- [ ] pyqt5

[2020-10-24 14:47] Vouivre commented on #1429
I also adopt `nmap`.

[2020-10-25 14:23] mmatongo opened #1442 "tree source link not available"
@aaronNGi the source link for tree needs to be updated, the https link is no longer accessible, the ftp link however is available: `ftp://mama.indstate.edu/linux/tree/tree-1.8.0.tgz`

[2020-10-26 12:18] aaronNGi commented on #1442
Hey. The http link in `sources` works for me. It's either on your end or was broken only momentarily.

[2020-10-26 14:26] mmatongo commented on #1442
It still won't work for me, I've tried it several times and on two different machines but still nothing.

[2020-10-26 18:25] noocsharp commented on #1442
I am able to download it, it's likely on your end.

[2020-10-26 18:45] mmatongo commented on #1442
It may be regional

[2020-10-26 20:30] aaronNGi commented on #1442
Yeah, that must be the culprit.

It's inconvenient but you could download the source into `~/.cache/kiss/sources/tree/` manually for now or overlay the package and change the source to ftp.

[2020-10-27 07:10] mmatongo commented on #1442
I forked the package and did as advised, I suggested using the ftp link as to avoid this problem for anyone else in future.

[2020-10-27 12:38] eudaldgr opened #1450 "parted: util-linux is a dependency"
@cemkeylan

[2020-10-27 12:42] cemkeylan commented on #1450
See #1429

[2020-10-28 12:27] eudaldgr commented on #1442
I don't remember where i read this, but i think that ftp is not recommended, instead of https, in kiss packages.

[2020-10-28 12:35] eudaldgr commented on #1450
I know, but if someone take it, she can fix this.

[2020-10-28 12:57] mmatongo commented on #1442
Unfortunately

[2020-10-28 12:57] #1442 closed

[2020-10-30 02:55] dilyn-corner commented on #1429
Just to maybe speed this along...
@Vouivre: `gnutls` -> `msmtp`

@trbednarzyk: `groff` -> `graphviz`

@konimex: `libgpg-error` -> `libgcrypt` -> `irssi`

@ioraff: `pciutils` -> `flashrom`

@eudaldgr: `webkit2gtk` -> `surf`
@sdsddsd1: `webkit2gtk` -> `wyebadblock`
`webkit2gtk` also needs `glib-networking`, `icu` -> `harfbuzz-icu`, `libXslt`, `libgcrypt`, `libsoup`, `libwebp`, and `ruby`.

I'll take

[2020-10-30 03:22] trbednarzyk commented on #1429
I can adopt `groff`, `libedit`, `parted`, and `pciutils`.

[2020-10-30 07:17] eudaldgr commented on #1429
If `webkit2gtk` fall i will maintain under my personal repo, i don't want to maintain more and more packages here.

[2020-10-30 07:49] eudaldgr opened #1460 "Dropping some packages"
* [x] ~~2bwm~~ @Vouivre
* [x] ~~aerc~~ @muevoid
* [x] ~~birch~~ - @dylanaraps
* [x] ~~btpd~~ - @noocsharp
* [x] ~~dejavu-ttf~~ @Vouivre
* [x] ~~font-awesome-otf~~
* [x] ~~font-awesome-ttf~~
* [x] ~~hack~~ @dylanaraps
* [x] ~~ledger~~ dropped from community
* [x] ~~libburn~~ @dylanaraps
* [x] ~~libisoburn~~
* [x] ~~libisofs~~ @dylanaraps
* [x] ~~radare2~~ dropped from community
* [x] ~~sc~~ @Xeno-H

[2020-10-30 07:50] eudaldgr commented on #1450
I close this until someone take the pkg.

[2020-10-30 07:52] dylanaraps commented on #1450
Best we leave this open so we don't lose track of it.

[2020-10-30 07:53] dylanaraps commented on #1450
(It's also very much possible for the current maintainer to push a commit to fix this.)

[2020-10-30 07:54] dylanaraps commented on #1460
I'll take birch and shfm (for obvious reasons) ;)

[2020-10-30 07:59] #1427 closed

[2020-10-30 08:00] dylanaraps commented on #1427
Dropped the remaining packages. Resubmit them if you'd like to adopt them. Thanks everyone.

[2020-10-30 08:56] dylanaraps commented on #1429
Reduced this list by half. Here's a crude listing of the remaining packages and their relationships with each other and other packages in community. In short: webkit2gtk and gnupg2 need most of what is waiting for adoption in the above list. These two also share a dependency or two (libgcrypt, libgpg-error, etc?).

[code]

[2020-10-30 10:42] sdsddsd1 commented on #1429
@dilyn-corner

I am not the right person to maintain this. When there are issues after a version change, I would probably not be able to fix this, until any other project had done this, which work I could adopt. Apologies.

[2020-10-30 14:29] mcpcpc commented on #1460
I'll take surf

[2020-10-30 15:14] trbednarzyk commented on #1429
@dylanaraps why did you drop `libedit` and adopt `parted` after I just adopted both?

[2020-10-30 15:23] dilyn-corner commented on #1429
Then maybe @muevoid has the time to work on `webkit2gtk`?

[2020-10-30 15:30] muevoid commented on #1429
Yes I do I can take everything left directly related to webkit2gtk minus vimb and gst-plugins and friends. Fyi afaik graphviz doesnt need groff.

[2020-10-30 23:33] onodera-punpun commented on #1460
I'll take `zzz`

[2020-10-31 03:47] dylanaraps commented on #1429
@trbednarzyk I must not have realized while going through the list, apologies. Just resubmit the packages.

[2020-10-31 04:34] Xeno-Hypster commented on #1460
I'll be happy to take sc.

[2020-10-31 10:24] sdsddsd1 commented on #1429
I will take over
- gstreamer
- gst-plugins
- gst-plugins-base

[2020-10-31 10:49] md500 opened #1476 "freeglut: build fails with multiple definitions due to gcc 10"
When cmake is trying to build fg_state_x11.c.o, build fails with many "multiple definition of" errors:

[code]

The following patch: [[PATCH] fg_gl2: fix build failure against gcc-10](https://gitweb.gentoo.org/repo/gentoo.git/tree/media-libs/freeglut/files/freeglut-3.2.1-gcc10-fno-common.patch?id=f9102571b69d9fc05471a592fda252681fdfdef1) fixes this issue, to get sucessfull build.

[Full log](https

[2020-10-31 11:00] sdsddsd1 commented on #1476
You need to mention the maintainer in the request to ping them. @$(kiss-maintainer freeglut).

[2020-10-31 11:01] sdsddsd1 commented on #1437
7 day have passed. Packages will be dropped soon.

[2020-10-31 11:13] md500 commented on #1476
@ioraff

[2020-10-31 12:59] #1476 closed

[2020-10-31 13:00] dylanaraps commented on #1476
I am maintaining their packages for the time being. Thanks for opening this issue.

[2020-10-31 14:52] noocsharp commented on #1460
I can take btpd

[2020-11-01 03:55] dylanaraps commented on #1450
@trbednarzyk

[2020-11-01 05:07] #1450 closed

[2020-11-01 17:26] dylanaraps opened #1488 "youtube-dl new release (2020.11.01.1)"
See: https://youtube-dl.org/

@Vouivre

[2020-11-01 17:28] dylanaraps commented on #1488
This is where development is currently located looks like: https://gitlab.com/dstftw/youtube-dl/-/commits/master

[2020-11-01 22:01] Vouivre commented on #1488
Thank you, I'll update it soon!

[2020-11-02 04:33] #1437 closed

[2020-11-02 04:34] dylanaraps commented on #1488
https://github.com/kisslinux/community/commit/6980d4f1e45bd364ff03773eb780514d1972d5ea

[2020-11-02 07:03] Vouivre commented on #1488
I tested it with one video, it works for me. If the PR https://github.com/kisslinux/community/pull/1491 is ok for you, I let you close this issue.

Thank you for your help :+1:

[2020-11-02 07:16] #1488 closed

[2020-11-04 08:01] Vouivre commented on #1429
I'll have a look at emacs, tabbed and pinentry-dmenu. I could adopt them. It could take a few days.

[2020-11-05 01:49] TAAPArthur commented on #1460
I can take ledger and svkbd

[2020-11-05 02:39] TAAPArthur opened #1503 "kmod: Add --sysconfdir=/etc option"
@magenbluten for kmod, I think `--sysconfdir=/etc` is missing from the config options.

Without it `/etc/modprobe.d` isn't read which is the default directory mentioned in the manpage and lot and a lot of online documentation.

[2020-11-06 08:26] Vouivre commented on #1460
I will adopt 2bm, sc-im and dejavu-ttf. Unfortunately there are some errors when I build sc-im and dejavu-ttf. I will first fix them.

[2020-11-06 08:35] dylanaraps commented on #1429
Only emacs stuff and vimb now. Thanks everyone. :)

[2020-11-06 08:40] dylanaraps commented on #1460
Build fix for dejavu-ttf:

[code]

[2020-11-06 08:41] dylanaraps commented on #1460
Build fix for `sc-im`:

[code]

[2020-11-06 08:45] Vouivre commented on #1429
If I adopt emacs, I won't adopt emacs-git. Is it ok for you ?

[2020-11-06 08:49] dylanaraps commented on #1429
That's fine. Do you use emacs? It's best that you adopt packages you have a vested interest in.

[2020-11-06 08:50] dylanaraps commented on #1460
@onodera-punpun Will you be sending a PR for `zzz`?

[2020-11-06 09:10] Vouivre commented on #1429
I still use it, but not a lot. For the moment it's better for me to have it in community.

[2020-11-06 20:20] Vouivre commented on #1460
Thank you @dylanaraps , I got the problem with `dejavu-ttf`. I'll do `sc-im` later.

[2020-11-06 22:34] Vouivre commented on #1460
Done! Thank you for the fix for `sc-im` :+1:.

[2020-11-07 08:23] dylanaraps commented on #1429
@Vouivre `libxaw3d` is a dependency of emacs, care to adopt it?

[2020-11-07 08:36] #1460 closed

[2020-11-07 08:37] dylanaraps commented on #1460
Went ahead and adopted everything. Dropped some packages too. Send PRs if you'd like to adopt anything of mine from here. I don't mind. Thanks everyone. :)

[2020-11-07 16:06] Vouivre commented on #1429
Of course! :+1:

[2020-11-07 18:07] #1429 closed

[2020-11-07 18:08] dylanaraps commented on #1429
Thanks everyone

[2020-11-08 02:40] noocsharp opened #1525 "msmtp: use LibreSSL instead of GnuTLS"
msmtp has support for LibreSSL by specifying `--with-tls=openssl` when running configure. I think it makes mores sense to use LibreSSL as it is in the official repo, and therefore an extra library is not required.

@Vouivre

[2020-11-08 15:20] kennylevinsen opened #1528 "seatd: Package outdated"
0.4.0 was released on the 19th of October, and contains a decent list of fixes.

The announce mailing list is available here: https://lists.sr.ht/~kennylevinsen/seatd-announce.

@muevoid

[2020-11-08 16:20] muevoid commented on #1528
My bad I really need to make a script for when i update one of the packages i maintain in my repo so I can make a pr here I will open up a pr later today when I am at my pc(answering from my phone).

[2020-11-08 16:36] dylanaraps commented on #1528
@muevoid While you're at it, you have 5 other packages needing updates. https://repology.org/projects/?maintainer=38061852%2Bmuevoid%40users.noreply.github.com&inrepo=kiss_community&outdated=1

[2020-11-08 17:52] muevoid commented on #1528
@dylanaraps Yep my bad, I have all of those up to date other then icu(has issues still working on) just need to make a pr.

[2020-11-09 13:42] kennylevinsen commented on #1528
No worries, just thought I'd notify as it seems like it might have been missed. :)

[2020-11-09 15:01] Vouivre commented on #1525
I have to investigate if it makes more sense. For sure, it's better to use `libressl` because it's in the official repo. I have removed the `gnutls` dependency and `libressl` is detected as `openssl` which is discouraged. I have no idea if the dev of `msmtp` will remove the support of `openssl` and in that case also the support of `libressl`. I will contact him to know what he thinks about it.
By

[2020-11-09 15:55] Vouivre commented on #1525
In short: I won't change for `libressl`. See https://github.com/marlam/msmtp-mirror/issues/37.

Ok for you @dylanaraps ? As the dev ok KISS, perhaps you have another opinion.

[2020-11-09 17:33] #1525 closed

[2020-11-09 21:36] sdsddsd1 opened #1536 "xwm: missing dependency xcb-util-keysyms"
@mcpcpc , the build fails without xcb-util-keysyms.
[code]

[2020-11-09 22:04] mcpcpc commented on #1536
addressed by https://github.com/kisslinux/community/pull/1537

[2020-11-09 22:05] #1536 closed

[2020-11-16 16:35] #1528 closed

[2020-11-16 21:42] sdsddsd1 opened #1559 "webkit2gtk fails to build with icu 68.1"
@muevoid I have found a solution to build latest webkit with latest icu on the LFS handbook.
Already reproduced and works.

`echo 'add_compile_definitions("U_DEFINE_FALSE_AND_TRUE=1")' >> Source/WTF/wtf/CMakeLists.txt`

http://www.linuxfromscratch.org/blfs/view/svn/x/webkitgtk.html

[2020-11-22 02:45] muevoid commented on #1559
Will fix this today life has gotten the better of me for a few so I haven't had time to do stuff but will fix this now and bump packages.

[2020-11-22 11:02] #1559 closed

[2020-11-23 04:57] #1503 closed

[2020-11-23 15:22] git-bruh opened #1592 "libsndfile: Incorrect checksums"
@mcpcpc Build fails due to incorrect checksums

Correct sha256sum (Verified by downloading sources a few times):
`9df273302c4fa160567f412e10cc4f76666b66281e7ba48370fb544e87e4611a libsndfile-1.0.30.tar.bz2`

[2020-11-23 17:09] mcpcpc commented on #1592
see https://github.com/kisslinux/community/pull/1593

[2020-11-24 03:49] #1592 closed

[2020-11-24 07:11] muevoid opened #1597 "Dropping Packages"
Maintaining mue-linux packages and having to make changes due to differences from kisslinux in addition to life recently makes me think I shouldn't have any packages here...

All my packages will live in my repo if any of them get dropped.

I am dropping all my packages in this repo here is a list:

- [x]  ~~Seatd~~ @dylanaraps
- [ ] Webkit2Gtk
- [ ]  libsoup
- [ ] glib-networking
- [ ] gnutls
- [

[2020-11-24 07:33] sdsddsd1 commented on #1597
I will take webkit2gtk and related.

[2020-11-24 08:43] dylanaraps commented on #1597
I'll take seatd.

[2020-11-24 23:40] sdsddsd1 commented on #1597
I will take
- webkit2gtk
- libsoup
- glib-networking
- gnutls
- nettle
- libpsl
- icu
- libgcrypt
- libgpg-error
- libXslt
- ruby

[2020-11-25 01:40] noocsharp commented on #1597
I can take the gnupg2 stack
- gnupg2
- libksba
- libassuan
- npth
- pinentry

[2020-11-25 05:21] dylanaraps commented on #1597
@noocsharp Your PR is missing npth and pinentry??

[2020-11-25 05:38] #1597 closed

[2020-11-25 05:38] dylanaraps commented on #1597
Thanks everyone!

[2020-11-25 12:02] muevoid commented on #1597
As @dylanaraps said thank you everyone sorry i couldn't maintain for longer. Main reason I am commenting though is I forgot one package aerc. If anyone would like to pick that up that is also up for grabs. Not sure if I should reopen or not so ill leave that up to dylan.

[2020-12-02 19:33] jedahan opened #1623 "llvm: enable default targets"
Some languages support cross compilation out-of-the-box by leveraging the default targets in llvm. As an example, I am packaging [zig](https://ziglang.org/). It is a core and expected feature of the language, to be able to create binaries for other architectures.

I am testing out a forked llvm where I just removed the specified TARGETS and used the defaults, and will report back if that works. If

[2020-12-04 00:47] ominitay opened #1627 "Yajl build error"
Hi there! The package `yajl` is not building for me. All of my packages and repos are up to date. Attached is the log. I would be more than happy to assist in diagnosing this in any way I am able.

[yajlbuild.log](https://github.com/kisslinux/community/files/5639897/yajlbuild.log)

Edit: Just to clarify, I made this GitHub issue since the maintainer's email is a GitHub no-reply email.

[2020-12-04 17:38] ominitay commented on #1627
I have resolved this issue on my personal fork. The cause of the issue was that the build tests cannot pass if run with multiple threads. If possible, it would be great for the maintainer (@alaughlin) to apply commit the changes on my behalf.

[2020-12-04 21:44] ominitay commented on #1627
The package also requires `cmake`, but does not list it as a dependency.

[2020-12-08 07:03] mmatongo commented on #1623
Hey, I am currently working on building [zig](https://ziglang.org/) for my languages repo [here](https://github.com/mmatongo/kiss-lang).

I worked with the bootstrap repo of `zig`, an upstream bug needs to be opened [as suggested here](https://github.com/ziglang/zig/issues/7209) to make it so you can build `zig` with no modifications to `llvm`

Also this should have been opened on the `kisslinux/r

[2020-12-10 16:51] CamilleScholtz opened #1637 "pciutils: build with pci.h"
I am building some package that depends on pci.h, however our pciutils doesn't ship it, fix is to change this:

[code]

to

[code]

maintainer: @dylanaraps

[2020-12-13 17:37] ghost opened #1641 "file runtime error"
When `file` is invoked without arguments, or any arguments other than --help, it exits immediately and outputs `Bad system call`. @dylanaraps

[2020-12-14 14:31] git-bruh opened #1642 "giblib: fix docdir"
`make DESTDIR="$1" docsdir=/usr/share/doc/giblib install` should be used, otherwise the undesirable `/usr/doc` directory is used instead of `/usr/share/doc`

@aicsx

[2020-12-14 14:40] git-bruh commented on #1641
Works fine for me :thinking:

[code]

[2020-12-14 14:55] ghost commented on #1641
![image](https://user-images.githubusercontent.com/58531601/102096286-6fc32b00-3e1c-11eb-85ef-e4c1f6ae482a.png)

[2020-12-14 14:56] ghost commented on #1641
Your `file` binary may not be provided by the `file` package.

[2020-12-14 15:11] git-bruh commented on #1641
Weird, i built the `file` package from the community repo itself, right now.

[code]

[2020-12-14 15:11] ghost commented on #1641
How curious.

[2020-12-14 15:20] ghost commented on #1641
On a rebuild, results remain the same.
![image](https://user-images.githubusercontent.com/58531601/102099173-ed3c6a80-3e1f-11eb-9970-9688e2b20ea1.png)

[2020-12-25 19:04] CamilleScholtz opened #1656 "(Hopefully temporary) fork for keeping packages up to date"
Since @dylanaraps seems to be gone, forks have been created to keep the packages up to date, the most active one seems to be https://github.com/kiss-community/repo-community

Personally I think it would be nice if maintainers still create a PR here and the maintainers of `repo-community` then merge it in their repo, rather than sending PR's directly to the `repo-community`, so this repo could easi

[2020-12-25 19:28] CamilleScholtz commented on #1656
As for in the future, maybe a backup maintainer would be nice.

[2020-12-26 08:24] Vouivre commented on #1656
Thank you for this information. Probably because I'm not on IRC, I didn't know about this fork.

I have created three new PR, but only in this repo. I don't know what has to be done to take a PR from this repo and to apply it on https://github.com/kiss-community/repo-community. If it's not too much work, I think it's a good solution.

To follow the new releases it is very practical with repology.

[2020-12-26 09:00] git-bruh commented on #1656
@Vouivre you just need to go to the forked repo's page, create PR and then select your fork and it's branch (eg msmtp)

https://github.com/kiss-community/repo-community/compare/main...vouivre:msmtp

[2020-12-26 10:41] Vouivre commented on #1656
Thank you, but it doesn't work. I get: "There isn't anything to compare". Do I have to fork the repo "kiss-community" ? It seems you didn't fork it. Here is what I have done:

https://github.com/kiss-community/repo-community/compare/master...Vouivre:youtube-dl

If I create a PR on kiss-community, the web interface change directly on kisslinux/community. Why ?